[2015-07-20 17:07] AramZS commented on #627
@regan008 Ummm, can you check the other areas of the Subscribed Feeds area? It may be in the inactive section if it fails.

[2015-07-20 17:12] regan008 commented on #627
@AramZS Hmm yeah I'm not seeing it get added. Let me keep testing -- maybe its the feeds I'm using

[2015-07-20 17:19] regan008 commented on #627
@AramZS So it is adding to subscribed feeds but it appears to be adding the site url not the feed url. Is this expected behavior?
The url for the feed on this site is: http://diggingdh.com/feed/ but here is what is pulled in:
![screen shot 2015-07-20 at 1 17 12 pm](https://cloud.githubusercontent.com/assets/4553057/8782182/cb608084-2ee1-11e5-8887-3268b06c6839.png)

[2015-07-20 17:32] regan008 commented on #628
@AramZS These all seem to work. Tried every combination and found no problems.

[2015-07-20 17:46] AramZS commented on #627
@regan008 Yes, that should still work fine, our method for RSS reading should understand the feed is an RSS-type and seek the appropriate HEAD tags to find the feed and read it without a problem. That shouldn't cause the feed to fail on its own, but if the site doesn't have the appropriate tags in the HEAD it *will* fail (perhaps causing the issue you saw previously?), and there's no way to solve

[2015-07-20 17:47] AramZS commented on #628
Awesome. I've added to the documentation and given @douglaslinsmeyer the appropriate props in the drafted release.

[2015-07-20 17:47] #628 closed

[2015-07-20 17:48] regan008 commented on #627
@AramZS It looks like it hasn't attempted to check the feeds yet. I'll check back in a bit and see if worked. For now though, I'd say this works.

[2015-07-20 20:13] regan008 commented on #627
@AramZS This seems to be working. It is finding and checking feeds nominated through the bookmarklet.

[2015-07-20 20:13] #627 closed

[2015-07-20 20:19] regan008 commented on #604
@AramZS I haven't been able to replicate the error with this new code -- I'd say this is good to go for 3.6.x.

[2015-07-20 20:20] AramZS commented on #604
Good, I will author a merge here and pull back in the old delete code, but only for AJAX feed-item use.

[2015-07-20 20:21] AramZS opened #629 "Nominate This is picking up a completely random other article on Good.is"

[2015-07-22 00:05] devinbalkind opened #630 "Displaying Subscribed Feeds"
Hi.  I was wondering how to create a page that displays the feeds I'm subscribed to through PressForward.  Ex. http://digitalhumanitiesnow.org/subscribed-feeds/

Thanks!

[2015-07-22 00:19] regan008 commented on #630
@devinbalkind The subscribed feeds page on Digital Humanities Now is generated using a shortcode that is built into the [PressForward TurnKey Theme](https://github.com/PressForward/PressForward-TurnKey-Theme). You can download the theme and use:
* [feeds="published"] to show active feeds
* [feeds status="alert_specimen"] to show alerted feeds
* [feeds status="draft"] to show broken feeds.

If you'

[2015-07-22 00:19] #630 closed

[2015-07-22 00:44] devinbalkind commented on #630
Awesome.  I'm using your theme so that worked perfectly. Thanks!

Is there a list anywhere of the available shortcodes?

I'd like to put the posts index and the feeds index on the same page so is
there a post index shortcode as well that I could use?

On Tue, Jul 21, 2015 at 8:19 PM, Amanda Regan <notifications@github.com>
wrote:

[2015-07-22 00:48] AramZS commented on #626
Vocativ's site is not rendering to any bots. Will check back once they adjust.

[2015-07-22 01:10] regan008 commented on #630
Perfect, feel free to submit issues on the theme if you find bugs or have questions.

The post index page is actually a page template rather than a shortcode. The categories for each tab get set in the theme options.  Unless you want to edit the page template there isn't an easy way to get both onto the same page at the moment. You could put the shortcodes above the tabs but that is probably not i

[2015-07-22 01:13] regan008 commented on #630
Also, I thought the shortcodes were in the documentation but it looks like I missed that. I'll edit the documentation to include the shortcode over the weekend. Currently the feedlist is the only shortcode.

[2015-07-22 01:19] devinbalkind opened #631 "Create a Shortcode for the Post Index page"
This would create more flexibility when designing page layouts.

[2015-07-22 01:27] devinbalkind commented on #630
Thanks so much for your amazing responsiveness.

Added the issue.

While I have your attention I'd like to direct it briefly to [Page Builder] (https://wordpress.org/plugins/siteorigin-panels/) layout plugin, which is a remarkably stable layout builder that fits next to your Text editor in page/posts, has great import/export functionality and fully leverages WordPress widgets.  It's revolutionized

[2015-07-24 16:34] regan008 commented on #631
Hi @devinbalkind,
Just wanted to let you know I'm closing this issue and moving this issue over to the [turnkey theme repository.](https://github.com/PressForward/PressForward-TurnKey-Theme/issues/35)

[2015-07-24 16:34] #631 closed

[2015-07-27 01:01] AramZS commented on #604
@boonebgorges I'm moving the batch cleanup process to your new method do you think there would be any problems involved with it dealing with a much larger set of post objects? The process might select thousands of feed-items and queue them for deletion.  I've moved it in c760589.

[2015-07-27 12:06] boonebgorges commented on #604
I was testing with hundreds of objects when I was building it, and I
didn't run into any problems - scalability was the point :)

On 07/26/15 21:01, Aram Zucker-Scharff wrote:

[2015-07-27 15:26] AramZS commented on #604
@boonebgorges I figured, but I thought it might be wise to double check before we set up the system to be regular be sending blocks of 1 to 3000 items at it.

[2015-07-28 15:13] regan008 commented on #604
@AramZS I'm testing the delete functionality currently and when I hit "empty trash" with 1,689 and I keep getting an error that says "The server encountered an internal error or misconfiguration and was unable to complete your request." Do you think this is something to do with our server or with the code?  I'll try it on a local server next.
![screen shot 2015-07-28 at 11 09 18 am](https://cloud.

[2015-07-28 15:18] boonebgorges commented on #604
@regan008 What's the URL you see when you get the error? Are you only seeing that URL after a delay - like maybe there's a timeout? Are you able to enable WP_DEBUG for testing on this installation?

[2015-07-28 15:21] regan008 commented on #604
@boonebgorges I just went back to the subscribed feeds page probably 10min after it threw the error and all the feeds were deleted. There must have just been a delay while the system emptied the trash. Let me get a large number in the trash again and see if I can replicate the error to get you the url and the wp_debug message.

[2015-07-28 15:23] boonebgorges commented on #604
Excellent. The fact that the posts ended up being deleted means that the
background batch delete process is indeed working, even if there's a bug
causing the first click to time out.

If there is in fact a memory timeout (which is what it sounds like),
it'll be helpful to have any exact details you can provide, so I can try
to isolate it. Thanks!

On 07/28/15 10:21, Amanda Regan wrote:

[2015-07-28 16:03] regan008 commented on #604
@boonebgorges Ok, so I tried it again with 642 feeds.  It took about 30 seconds and then it timed out and gave me the same Internal Server error.  Here is the url: http://pftesting.chnm.org/wp-admin/edit.php?s=&post_status=trash&post_type=pf_feed&_wpnonce=26d6c3f0d4&_wp_http_referer=%2Fwp-admin%2Fedit.php%3Fpost_status%3Dtrash%26post_type%3Dpf_feed&action=-1&m=0&delete_all=Empty+Trash&paged=1&acti

[2015-07-28 16:39] mAAdhaTTah commented on #604
Sounds like Apache thinks PHP timed out and returned the error screen, while PHP kept processing (which is why you see all the feeds deleted at the end).

[2015-07-28 16:42] boonebgorges commented on #604
Agreed. I will look into this to see why the timeout is happening on
that initial click. Amanda, can you give me the OPML(s) that you're
using to populate your site with test data?

On 07/28/15 11:39, James DiGioia wrote:

[2015-07-28 16:47] regan008 commented on #604
Sure, I've been using:
http://www.inoreader.com/reader/subscriptions/export/user/1006046789/label/MS_OneNote
http://cms.iopscience.iop.org/alfresco/d/d/workspace/SpacesStore/cd5bdf75-3373-11df-afda-57ea8c8155d6/iopscience-opml.xml
http://news.bbc.co.uk/rss/feeds.opml (this one sometimes takes a while to load but when it does there are hundreds of feeds.)

[2015-07-28 18:24] regan008 commented on #630
@devinbalkind Thanks for suggesting Page Builder. It looks really flexible. I'll ensure that we are compatible as it looks like a great tool for those who want to adjust layouts in the theme.

[2015-07-29 21:07] eolson3 opened #633 "Fatal Error After Installation"
From a PressForward user:

"In the first press forward installation, i had some problems with the theme installed.

So i uninstalled pressforward, changed theme, and reinstalled press forward,

After that i started receiving the below error, when trying to activate the plugin

"Fatal error: Cannot redeclare dump_html_tree() (previously declared in /home/…./wp-content/plugins/lfjmonetizeme/inc/simp

[2015-07-30 19:50] AramZS opened #634 "Insure security of feed submission in Nominate This"

[2015-07-30 22:31] AramZS commented on #633
Added a patch to resolve this in upcoming 3.6.x release.

[2015-07-30 22:31] #633 closed

[2015-07-31 01:44] eolson3 commented on #633
Thanks, Aram.

[2015-08-03 12:09] #604 closed

[2015-08-03 12:09] #634 closed

[2015-08-03 18:23] #580 closed

[2015-08-04 18:48] regan008 opened #636 "Google Alert Items not being added as items"
Hi @AramZS --

One of our partners is trying to use this google alert and it doesn't seem to be able to retrieve the content. It seems like it is checking the feeds and finding content but not bringing the content into All Content. Below is the log, any idea what might be going on here? It seems like it might be failing or something at 16:11:22 ?

The google alert feed is: https://www.google.com/a

[2015-08-05 14:11] regan008 opened #637 "Large Number of Feeds causes fatal error in All Content and Subscribed Feeds"
I'm getting a fatal error on PFTesting. This is the install that has at least 7-900 feeds (or more) that we were using to test the delete functionality in #604. The error is appearing on the Subscribed feeds and the All Content panels but is referencing different WordPress files. It isn't happening on any of the other pages so I'm guessing it probably has something to do with the large number of f

[2015-08-10 01:08] AramZS commented on #602
Err, last commit was for #620

[2015-08-10 01:08] AramZS commented on #620
With commit ef82c68f1a03080a7d3b8054e1b78a284835c47a we assure that all posts will have the source statement attached.

[2015-08-10 01:08] #620 closed

[2015-08-10 01:36] AramZS commented on #637
I'm not able to duplicate this. Can you see anything in the log?

[2015-08-10 15:35] regan008 commented on #637
There isn't a log for this test site apparently. I'll add one right now and check back on it in a bit.

[2015-08-11 13:13] AramZS opened #639 "Using Nominate This fails badly when no HTML is found."
`Fatal error: Call to a member function find() on a non-object in /home/arazuc/chronoto.pe/wp-content/plugins/pressforward/includes/functions.php on line 1282'

Call happens on Medium.

[2015-08-13 21:26] kelle opened #640 "trouble with Nominate Feeds from Bookmarklet"
None of these feeds were successfully added as drafts when nominated via the bookmarklet:
astrobites.org
http://www.bdnyc.org
http://hoggresearch.blogspot.com/
http://astrofrog.github.io/
https://astrocompute.wordpress.com/
http://www.astro.gla.ac.uk/~matthew/blog/
@regan008

[2015-08-13 22:10] kelle opened #641 "Tumbler post missing Source link"
I used the Nominate bookmarklet for this Tumbler post
http://www.startorialist.com/post/126510931123/this-wednesdayinthewild-is-from-after-last-weeks
and the resulting PF post does not contain a link to the source
http://arce.li/?p=130

[2015-08-13 23:01] devinbalkind opened #642 "Send to Draft not working"
Send to Draft isn't working.

I'm trying to "Send to Draft" via the "All Content" section.  The button works.  When I click Send to Draft it will automatically nominate the article.  When I click again the "Send to Draft" text is highlighted - indicating it worked.  But no draft appears in the WordPress posts section.

When I click on the story from All Content and am viewing it in the popup windo

[2015-08-14 15:17] kelle opened #643 "Reset/Start Fresh Script or option"
Is there a way to wipe the whole database and start fresh?

[2015-08-14 15:18] AramZS commented on #643
As of the latest update to PressForward, deleting all feeds via the Subscribed Feed area will also clear out everything they've pulled in. Does that answer your question @kelle ?

[2015-08-14 15:29] AramZS opened #644 "Transients for feeds should include the ID to avoid potential add/remove/re-add problems"

[2015-08-17 00:39] #639 closed

[2015-08-17 19:14] #626 closed

[2015-08-18 13:30] regan008 opened #645 "Reader View on DHNow including multiple posts and pf toolbar inside post"
I've never seen anything quite like this. It looks like when reader view is opened several of the most recent posts from this feed are being displayed (along with the pressforward toolbar) inside the body of the post. It might just be something odd in their html but I wanted to add it as an issue and document it.

![screen shot 2015-08-18 at 9 27 21 am](https://cloud.githubusercontent.com/assets/4

[2015-08-25 03:38] AramZS commented on #645
Can you tell me what RSS feed @regan008 ?

[2015-08-25 13:59] regan008 commented on #645
@AramZS After some investigation I actually think this was caused because somebody nominated a post category rather than a single post using the bookmarklet. It looks like it was this url: http://fromstonetoscreen.com/category/digital-classics/

I don't actually think this is a bug so I'll go ahead and close it.

[2015-08-25 13:59] #645 closed

[2015-08-27 17:37] jschell42 commented on #636
Any solutions to this?

[2015-08-27 17:55] regan008 commented on #636
@jschell42 Yes, we determined that the feed wasn't retrieving because the php version was out of date. PressForward requires PHP 3.4 or higher. Once the site's php library was upgraded the feed began retrieving. See http://php.net/supported-versions.php for more details on current versions of php.

[2015-08-27 17:55] #636 closed

[2015-08-27 17:56] jschell42 commented on #636
Awesome! Glad it's working.

[2015-08-27 18:38] AramZS commented on #636
Note: that's PHP 5.4 as of PF version 3.4

[2015-08-28 17:59] eolson3 commented on #642
Same thing happens on our test site.  Any idea of what may be causing this, Aram?

Eric

[2015-08-28 18:38] eolson3 opened #646 "Content sent to draft arrives as an empty container"
Not sure how else to describe it.  A user has emailed us with a problem wherein content sent from the nominated panel to draft arrives without any content or even a title; just a blank entry.  I haven't been able to recreate the issue on the test site.  Any ideas?  Should I get a list of other plugins that are active, perhaps?

Thanks,

Eric

[2015-08-28 19:21] miobook1 commented on #646
Yes, thanks. I've submitted issue because from nominated article to draft, when i goes to articles there are no metadata. No title, no images no text.

Now i can't also have view of the article feed :(

[2015-08-29 18:14] AramZS commented on #646
Hi @miobook1 @eolson3 - I'm not super clear how this could happen, but it is possible that there is an unanticipated error in the content itself that is causing our processing of it to break. A list of plugins would be great, but it would be even better to get an idea of the feed this is happening on and particularly the pieces of content, to make sure the problem isn't there.

Assuming it is not,

[2015-08-29 18:15] AramZS commented on #646
@miobook1 What do you mean by article feed?

[2015-08-29 18:55] AramZS commented on #584
Resolved in 3.7.x

[2015-08-29 18:55] #584 closed

[2015-08-29 19:20] miobook1 commented on #646
The feed list

Inviato da myMail per iOS

sabato 29 agosto 2015 20:15 +0200 da Aram Zucker-Scharff  <notifications@github.com>:

[2015-08-30 17:53] AramZS commented on #467
Refresh conditions:

Clicking the refresh links will only cause a refresh under the following conditions:

1. A feed chunk is not actively open
2. The feed retrieval process is not in the midst of attempting to
determine the next feed to chunk.
3. The feed being manually refreshed was neither just retrieved or the
previous feed retrieved as part of the retrieval process (in order to
avoid duplicat

[2015-08-30 17:53] #467 closed

[2015-08-30 20:02] #330 closed

[2015-08-31 04:26] AramZS commented on #413
Assigning out for consideration and testing.

[2015-08-31 13:58] eolson3 commented on #646
@miobook1 Could you give us a list of the other plugins that you use?  There could be something conflicting with one of them.

[2015-08-31 18:19] eolson3 commented on #646
@miobook1 You can't see your subscribed feeds any longer?  But content is still being retrieved?  Does the same effect appear when sending content from multiple sources to draft?

Trying to narrow down the issue.

E

[2015-08-31 21:09] miobook1 commented on #646
Hi,

I can see the subscribed feeds now but it doesn’t work with the draft.

I’ve also canceled many plugins not useful, but the problem persists.

If you want I can give you access to admin panel in my wordpress site so you can see it.
Give me your email and i sent you an invite as administrator of the site.

Thanks

Nicola

----------------------
MioBook.
www.miobook.org

Il giorno 31 agosto 201

[2015-09-01 14:32] AramZS commented on #646
@eolson3 Would you like to take on getting a login so we can examine the site in action?

[2015-09-01 16:10] miobook1 commented on #646
Ok, thanks a lot.

I’ve send an invitation as administrator from inside WP
----------------------
MioBook.
www.miobook.org

Il giorno 01 settembre 2015 @ 16:43:14, Eric Olson (notifications@github.com) ha scritto:

@miobook1

Let's try that. My email is eric@pressforward.org.

—
Reply to this email directly or view it on GitHub.

[2015-09-02 18:00] miobook1 commented on #646
Hi, I send you an invitation to my backend site in miobook.org

Did you receive my mail?

----------------------
MioBook.
www.miobook.org

Il giorno 01 settembre 2015 @ 18:10:11, MioBook. (miobook@yahoo.it) ha scritto:

Ok, thanks a lot.

I’ve send an invitation as administrator from inside WP
----------------------
MioBook.
www.miobook.org

Il giorno 01 settembre 2015 @ 16:43:14, Eric Olson (noti

[2015-09-03 04:37] AramZS commented on #646
@eolson3 ^ ?

[2015-09-03 06:38] miobook1 commented on #646
Hi, I send you an invite to look at the issue on my wordpress site. Did you receive it?

----------------------
MioBook.
www.miobook.org

Il giorno 03 settembre 2015 @ 06:37:38, Aram Zucker-Scharff (notifications@github.com) ha scritto:

eric@pressforward.org

[2015-09-03 14:06] eolson3 commented on #646
@miobook1 Sorry for the delay; I have not received the invite.  Could you email me the credentials that you assigned, or perhaps try the invite again?

[2015-09-03 14:34] miobook1 commented on #646
www.miobook.org/wp-admin

user: Eric

pssw: 4UM*OPpzcPN$366b2NyEoUBI

Thanks for your help!

----------------------
MioBook.
www.miobook.org

Il giorno 03 settembre 2015 @ 16:06:51, Eric Olson (notifications@github.com) ha scritto:

@miobook1 Sorry for the delay; I have not received the invite. Could you email me the credentials that you assigned, or perhaps try the invite again?

—
Reply to this

[2015-09-03 14:36] eolson3 commented on #646
Got it, thanks!

[2015-09-03 14:47] miobook1 commented on #646
I'm now using Safari, maybe the browser can be a reason of the issue?

[2015-09-03 14:48] eolson3 commented on #646
What were you using before?

[2015-09-03 14:50] miobook1 commented on #646
First Chrome, but I have problem because it doesn't load my site, so I tried Safari and everithing was going well, until the problem of not shown nominated and draft empty.

[2015-09-03 15:21] eolson3 commented on #646
@AramZS It looks like even the reader function is being blocked somehow.  The content actually begins to appear, then disappears and is replaced by the "Retrieving full article" text.  Nominating new items does not send it to the nominated list.  Sending to draft creates an "(Untitled)" piece of content with nothing else (eg. title, text, images, metadata).  I went through the plugins one at a tim

[2015-09-03 18:14] miobook1 commented on #646
eureka!!!!
Now i’ve deactivate Yoast plugin, and the draft is now correct. The problem is Yoast plugin conflict.

It’s a pity because Yoast so plugin is very good tool.

The problem in nominated persists, it doesn’t  create the nominated article in the list.

Il giorno 03 settembre 2015 @ 17:21:22, Eric Olson (notifications@github.com) ha scritto:

@AramZS It looks like even the reader function is

[2015-09-03 18:16] miobook1 commented on #646
No, i’m wrong the right draft is created by Eric…..I’m sorry

Il giorno 03 settembre 2015 @ 20:15:23, MioBook. (miobook@yahoo.it) ha scritto:

eureka!!!!
Now i’ve deactivate Yoast plugin, and the draft is now correct. The problem is Yoast plugin conflict.

It’s a pity because Yoast so plugin is very good tool.

The problem in nominated persists, it doesn’t  create the nominated article in the list

[2015-09-03 18:20] eolson3 commented on #646
@miobook1 That's alright, I did think it was strange to see it work for you when I couldn't even get the reader to work properly.  Could we try deactivating all but PressForward?

[2015-09-03 18:21] miobook1 commented on #646
Yes, sure. 

Il giorno 03 settembre 2015 @ 20:20:04, Eric Olson (notifications@github.com) ha scritto:

@miobook1 That's alright, I did think it was strange to see it work for you when I couldn't even get the reader to work properly. Could we try deactivating all but PressForward?

—
Reply to this email directly or view it on GitHub.

[2015-09-03 18:44] eolson3 commented on #646
Ok, so that revived the nominated panel.  Sending to draft works on that route, and everything comes with it.  The amplify button route isn't working, but that isn't unique to you.  We're working on that.

Now I'm going to add your plugins one at a time until I hit a snag.  You're nominated list is going to be clogged up while I test this, but hopefully you're in the clear after that.

[2015-09-03 18:50] miobook1 commented on #646
Thanks!!!!

Can I reactivate the plugins?

Il giorno 03 settembre 2015 @ 20:44:09, Eric Olson (notifications@github.com) ha scritto:

Ok, so that revived the nominated panel. Sending to draft works on that route, and everything comes with it. The amplify button route isn't working, but that isn't unique to you. We're working on that.

Now I'm going to add your plugins one at a time until I hit a s

[2015-09-03 18:52] eolson3 commented on #646
I'm doing that right now, but one at a time.  Maybe the issue will become apparent that way.  Is the reader working for you?  Is it retrieving text?

[2015-09-03 18:55] miobook1 commented on #646
Ah ok! I’ve tried to sent one article in nominated and doesn’t work, then to the draft and the issue persists just now…draft empty

Il giorno 03 settembre 2015 @ 20:52:21, Eric Olson (notifications@github.com) ha scritto:

I'm doing that right now, but one at a time. Maybe the issue will become apparent that way. Is the reader working for you? Is it retrieving text?

—
Reply to this email directly

[2015-09-03 18:56] miobook1 commented on #646
Now it works, maybe i’ve not wait enough time he loaded the info of the article

Il giorno 03 settembre 2015 @ 20:55:05, MioBook. (miobook@yahoo.it) ha scritto:

Ah ok! I’ve tried to sent one article in nominated and doesn’t work, then to the draft and the issue persists just now…draft empty

Il giorno 03 settembre 2015 @ 20:52:21, Eric Olson (notifications@github.com) ha scritto:

I'm doing that

[2015-09-03 18:57] eolson3 commented on #646
Try it with content from a couple of different sources.  Maybe one of the feeds is funky.

[2015-09-03 19:26] eolson3 commented on #646
All of the plugins that were active when I began are now restored.  Seems like nominating and drafting are now working.  The reader DOES work for me when viewing nominated content, but not in all content.  That's weird, and let me know if that is still happening in a week or so, but you have regular functionality back.  I also made the custom metadata fields visible while in draft, but you can hid

[2015-09-03 22:08] miobook1 commented on #646
Thanks so much!
I’ll be in contact!

Il giorno 03 settembre 2015 @ 21:26:41, Eric Olson (notifications@github.com) ha scritto:

All of the plugins that were active when I began are now restored. Seems like nominating and drafting are now working. The reader DOES work for me when viewing nominated content, but not in all content. That's weird, and let me know if that is still happening in a week or

[2015-09-04 15:06] #646 closed

[2015-09-05 16:46] AramZS opened #649 "Source link isn't populating for the bookmarklet"

[2015-09-09 02:26] devinbalkind commented on #642
Please help.  Without the "Send to ___" function the plugin is useless and my project can't launch.

Thanks.

[2015-09-09 02:45] AramZS commented on #642
Will investigate and resolve this asap

[2015-09-09 02:55] devinbalkind commented on #642
Thanks so so much!

On Tue, Sep 8, 2015 at 7:45 PM, Aram Zucker-Scharff <
notifications@github.com> wrote:

[2015-09-09 15:31] regan008 opened #650 "Site retaining all content items beyond 2 months?"
@AramZS I noticed today that on DHNow when I used the search in All Content it was pulling up items from as far back as January. Is it possible that something is broken and it isn't deleting old feed items? Our site has been super slow lately. We have the "Months to retrieve and retain feed items" set to 2 and I tried to check out log but it appears to be broken. It just generates a blank screen.

[2015-09-10 13:35] AramZS opened #651 "Manual clean up button"
Should trigger `disassemble_feed_items`

[2015-09-10 13:36] AramZS commented on #650
This should have been resolved for sure with the latest version. I will look into it.

[2015-09-11 18:29] mAAdhaTTah opened #652 "Times Opinion Page grabs sidebar"
I think it's the Opinion pages generally, but it at least failed here:

http://publiceditor.blogs.nytimes.com/2015/09/09/has-the-times-dismissed-bernie-sanders/?smid=tw-share&_r=0

[2015-09-14 22:35] AramZS commented on #613
I think this is resolved @lmrhody ?

[2015-09-14 23:29] AramZS commented on #642
@devinbalkind @eolson3 What are the settings in your PressForward Preferences -> Site Options bottom area? Should look like:
![image](https://cloud.githubusercontent.com/assets/748069/9864369/ded703e8-5b16-11e5-995e-d2710379b7c3.png)

[2015-09-15 00:47] devinbalkind commented on #642
Post Status: Draft

Post Type: Post

![screen shot 2015-09-14 at 5 45 46 pm](https://cloud.githubusercontent.com/assets/444311/9865259/983ae822-5b08-11e5-8efd-441c73c3802b.png)

[2015-09-15 03:58] AramZS commented on #642
Hi @devinbalkind, I have duplicated these settings on my test and live environments and have been unable to duplicate this error. @eolson3 You said this is happening on your test site as well? Is this pfsample?

[2015-09-21 18:27] AramZS commented on #597
@coblezc After significant testing I cannot duplicate this problem. Is any response occurring? Is the loading icon appearing? Is it going away or just staying there? Can you see an error appearing in the console? https://developer.chrome.com/devtools/docs/console

[2015-09-21 18:30] AramZS commented on #642
@devinbalkind @eolson3 Can you tell me if you see an error in the console? https://developer.chrome.com/devtools/docs/console

[2015-09-21 18:36] AramZS commented on #415
Duplicate of #412

[2015-09-21 18:36] AramZS commented on #412
Related to #363

[2015-09-21 19:02] devinbalkind commented on #642
No errors but a bunch of warnings involving HTTPS.

Pasted below:

admin.php?page=pf-menu:1 Mixed Content: The page at 'https://resiliencecolab.org/wp-admin/admin.php?page=pf-menu' was loaded over HTTPS, but requested an insecure image 'http://feeds.wordpress.com/1.0/comments/recoverydiva.wordpress.com/13413/'. This content should also be served over HTTPS.
admin.php?page=pf-menu:1 Mixed Content:

[2015-09-21 19:05] AramZS commented on #642
@devinbalkind What happens in that console when you try to use the Send to Draft button?

[2015-09-21 19:27] devinbalkind commented on #642
Nothing when I click to "Send to Draft".  If I click it a second time I get
"This is already active." message in the console but no error.

On Mon, Sep 21, 2015 at 12:05 PM, Aram Zucker-Scharff <
notifications@github.com> wrote:

[2015-09-21 19:41] AramZS commented on #597
@regan008 Can you investigate this? Thanks

[2015-09-21 19:42] AramZS commented on #479
Needs testing

[2015-09-22 15:01] regan008 commented on #479
Hey @AramZS Could you elaborate on what this means? I'm not sure where to look for it or what the expected behavior should be.

[2015-09-22 15:20] regan008 opened #653 "Refresh Feed Items showing up on 'Pages' in WP-Dashboard"
The "refresh feed items" link is showing up in pages.

![screenshot 2015-09-22 11 19 22](https://cloud.githubusercontent.com/assets/4553057/10022653/fabb35f6-611b-11e5-9c94-8d3171a1baf2.png)

[2015-09-24 18:25] coblezc commented on #597
Thank you, @AramZS, for investigating. The issues has recently resolved itself, but we'll let you know if it comes back.

[2015-09-28 19:28] regan008 commented on #597
@AramZS I wasn't able to replicate the issue either so I think this is closed unless the issue reappears.

[2015-09-28 19:28] #597 closed

[2015-10-05 16:47] regan008 commented on #479
@AramZS any update on this?

[2015-10-05 18:16] lmrhody commented on #642
Check for duplicate post and follow Eric to see what he's seeing.

[2015-10-05 18:49] regan008 commented on #479
@bschnei6 Here are the expected actions to test on this issue:
1. When the site redirect preference is turned on, is the checkbox in a PressForward draft also checked?
2. When the site redirect preference is turned off, is the checkbox in a PressForward post draft unchecked?
3. When the site redirect preference is turned on, does unchecking the the checkbox inside a PressForward draft stop the pub

[2015-10-05 18:57] eolson3 commented on #642
Resolved on the test site.

[2015-10-07 13:50] bschnei6 commented on #413
Subscribed feeds show red number when there are alerts. Looks to function properly.

[2015-10-07 14:11] bschnei6 commented on #642
Issue verified. I used the "Send to draft" from the all content page. A loading bar appeared and failed to resolve. I went to check the "Posts" tab and nothing had been sent to draft. I returned to the the "All Content" page and the items had the nominate button turned green. The items appeared in the nominations. This is the error that appeared when the loading bar failed to resolve:

Uncaught Er

[2015-10-07 14:46] bschnei6 commented on #479
1. When preference is on, checkbox IS NOT checked.
2. When preference is off, checkbox IS NOT checked.
3. When the site redirect preference is turned on, unchecking the the checkbox inside a PressForward draft stops the published post from redirecting to the original source.
4.When the site redirect is turned off, checking the checkbox inside a PressForward  does not cause the published post redir

[2015-10-07 15:20] bschnei6 commented on #642
This issue appears to be related to the particular feed that the content is being drafted from. After some additional testing, I've found that both WIRED and AWOL content fails to send to draft, while about ten other feeds I tried all sent to draft without difficulty. That said, not all AWOL content failed to send to draft, and none of those that failed to send to draft produced an error message i

[2015-10-12 02:48] AramZS commented on #642
@bschnei6 Confirmed a typo in the code at that location, updated in the 3.7.x branch for testing. It should resolve this issue, if that typo is the cause. Can you please test?

[2015-10-12 18:28] AramZS commented on #581
Allow this to occur from nominate this (double check)

Assign feed new status, "Under Review"

[2015-10-12 18:30] lmrhody commented on #621
Has there been any further feedback on this @slwestcott ? Can we close this issue?

[2015-10-12 18:32] lmrhody commented on #613
When you get a moment this week, could you check the new Nominate This bookmarklet styling and make sure that it's in keeping with partners' expectations? You can find it on the pftesting site.
Thanks!

[2015-10-12 18:33] AramZS commented on #434
Hey @boonebgorges - Do you think you can take this on in the next week or so?

[2015-10-12 20:01] boonebgorges commented on #434
Sure thing. Sorry this fell through the cracks.

I've started building something, but I'm at a bit of an impasse. In order to filter feed items by those that have drafts, I need to (a) grab a copy of all drafts, (b) figure out the feed item that each draft belongs to, and then (c) pass a list of those feed item IDs to `post__in` in the relevant places. From what I can tell, drafts are linked to fe

[2015-10-13 02:39] AramZS commented on #434
Yes and yes. All items in the system should have `item_id` as the unique hash id. Additionally, nominations have the `origin_item_ID` which should be the Feed Item ID. Does that make sense and is useful?

[2015-10-13 04:58] boonebgorges commented on #434
Thanks, that's helpful.

This feature is ready to test in the 3.7.x branch.

[2015-10-13 13:21] slwestcott commented on #621
No further feedback since they submitted the budget, but no way of knowing if they have additional questions until they start launching their sites. However, I think this is perfectly sufficient for the time being and, yes, the issue can probably be closed.

[2015-10-13 13:21] slwestcott commented on #613
Sure!

On Mon, Oct 12, 2015 at 2:32 PM, Lisa Rhody <notifications@github.com>
wrote:

--
Stephanie Westcott, Ph.D.
Research Assistant Professor
Co-Project Director, PressForward Project
Managing Editor, *Journal of Digital Humanities*
<http://journalofdigitalhumanities.org/>, *Digital Humanities Now*
<http://digitalhumanitiesnow.org/>
Roy Rosenzweig Center for History and New Media
George Mason Un

[2015-10-13 13:22] #621 closed

[2015-10-13 15:22] regan008 commented on #653
This seems to be fixed.

[2015-10-13 15:22] #653 closed

[2015-10-13 15:25] regan008 commented on #385
This appears to be fixed now.

[2015-10-13 15:25] #385 closed

[2015-10-13 15:29] bschnei6 commented on #545
Tested Filter Unread feature. Works as intended.

[2015-10-13 17:05] bschnei6 commented on #649
Couldn't replicate this.

[2015-10-13 18:02] slwestcott commented on #613
Looks great - love the options and I think it's all clear and easy to find.

[2015-10-13 18:11] #613 closed

[2015-10-13 18:52] AramZS commented on #649
@bschnei6 You have to check the custom fields at the bottom of a post, which you may have to reveal. Info on this at https://codex.wordpress.org/Custom_Fields

[2015-10-14 16:46] regan008 commented on #434
I've tested it and found no issues so I'll go ahead and close it.

[2015-10-14 16:46] #434 closed

[2015-10-15 05:25] AramZS commented on #363
posts_where may be what we need here.

[2015-10-17 14:22] #593 closed

[2015-10-17 16:26] AramZS commented on #644
Now resolved. Please test via full OPML interactivity, add OPML, assure it populates, remove OPML, re-add same OPML and assure it works properly.

This change touches the system's pull of the OPML file and processing of it.

[2015-10-17 18:52] AramZS commented on #581
Resolved, please confirm this works as expected.

[2015-10-17 18:53] #545 closed

[2015-10-18 19:49] AramZS commented on #415
Completed and ready to test in 3.7.x

[2015-10-19 04:10] AramZS opened #654 "Feeds subscribed to through OPML subscriptions seem to be duplicating"

[2015-10-19 05:42] AramZS opened #655 "Feeds going draft for no apparent reason"

[2015-10-19 05:46] AramZS opened #656 "If RSS-Quick update fails, the process freezes"

[2015-10-19 05:48] AramZS commented on #656
Particularly when the feed retrieval attempt times out

[2015-10-19 16:31] regan008 commented on #644
@AramZS I'm seeing numerous issues when I try to add an opml but I'm not sure if they are related to this issue or to the progress on #335.

I added an OPML but the counts appear to be off in the subscribed feeds panel. The active feeds label at the top shows 7 feeds but only 4 appear. One of the feeds that isn't appearing is AppleInsider, however those feed items **do** appear in All Content.

Si

[2015-10-19 16:44] regan008 commented on #581
@AramZS This works great. The new status and coloring of the feed is perfect. I'll go ahead and close this issue.

[2015-10-19 16:44] #581 closed

[2015-10-19 16:58] regan008 opened #657 "Success/failure message when nominating a feed with Nominate This"
@AramZS Related to #581 would it be possible to include a line in the success message in Nominate this that indicates whether or not the plugin was able to find a feed and submit a feed based on the nominated post? When testing I nominated about 5 different feeds associated with different items and only 1 got added to subscribed feeds. If I was a contributor I'd have no idea whether or not submiss

[2015-10-19 17:00] regan008 commented on #415
This works and looks great!

[2015-10-19 17:00] #415 closed

[2015-10-19 17:01] regan008 commented on #412
Confirmed, this is working and looks good.

[2015-10-19 17:01] #412 closed

[2015-10-19 17:03] regan008 commented on #642
@AramZS Confirmed, this is working now. I will go ahead and close this.

[2015-10-19 17:03] #642 closed

[2015-10-19 17:07] regan008 commented on #413
This looks good to me as well. I'm going to close this issue.

[2015-10-19 17:07] #413 closed

[2015-10-19 17:13] regan008 commented on #649
This appears to be resolved.

[2015-10-19 17:13] #649 closed

[2015-10-19 17:21] regan008 commented on #479
So @AramZS I think the issue still active here is that when the redirect preference is turned on the checkbox inside the post doesn't become active and the posts don't get forwarded.  The checkbox ends up having to be manually checked.

[2015-10-19 17:22] AramZS commented on #479
@regan008 it won't become checked if you have previously saved a post unchecked, does that make sense?

[2015-10-19 17:35] mAAdhaTTah opened #658 "Medium Article Nominations Failing"
Using the Nominate This bookmarklet, the content for Medium articles always looks something like this:

[code]

[2015-10-19 17:41] regan008 commented on #479
@AramZS yes it does -- but it seems like its doing it for all posts. Even for posts that I've drafted after I turned the redirect setting on in preferences.

[2015-10-19 17:42] AramZS commented on #479
But drafted and then edited it @regan008

[2015-10-19 17:48] regan008 commented on #479
@AramZS  Maybe I'm misunderstanding the expected action here, but I can't seem to get it to ever redirect without manually checking the box when redirect is on. Whether I edit the post or not.

[2015-10-19 17:59] AramZS commented on #479
@regan008 Ok, here is the expected behavior set:
* Site Redirect Setting X
  - Edit Draft/Post first time
  - Post Redirect Shows X
  - Save Post
  - Post Redirect Setting Saved to X
  - Post Redirects according to X
  - Post Redirect Setting Saved to Y
  - Save Post
  - Post Redirects According to Y

* Site Redirect Setting Y
  - Edit Draft/Post first time
  - Post Redirect Shows Y
  - Save Post

[2015-10-19 18:05] regan008 commented on #479
@AramZS Yes that does but that is not what I'm seeing. When I have post redirect on and go to edit a new post draft the Post Redirect does not reflect the site setting.

[2015-10-19 18:08] AramZS commented on #479
Will dig in.

[2015-10-19 18:59] AramZS commented on #644
Seems to only happen on OPML subscribes

[2015-10-21 00:58] AramZS commented on #363
Look good?

[2015-10-21 03:03] AramZS commented on #654
Some posts have the post_status of `closed`, they are duplicated. This may be causing a problem here or with #655

[2015-10-21 03:04] AramZS commented on #654
This is causing the All count to go up in Subscribed Feeds when it only shows less than that number.

[2015-10-21 03:10] AramZS commented on #654
ooop. Never mind, read wrong thing

[2015-10-21 03:21] AramZS commented on #654
now system is removing post parent

[2015-10-21 03:22] AramZS commented on #654
Only when items have been retrieved on it though

[2015-10-21 04:44] AramZS commented on #654
Nope, will happen even if no items collected.

[2015-10-21 13:23] regan008 commented on #583
Testing this now, I'll get back to you @AramZS

[2015-10-21 13:29] regan008 commented on #363
@AramZS Looks great -- I'll go ahead and close this.

[2015-10-21 13:29] #363 closed

[2015-10-21 15:12] regan008 commented on #583
This appears to be working. @AramZS Did you intend for this option to be visible in Quick Actions as well? Its not showing up there but does seem to be working.

[2015-10-21 22:16] AramZS commented on #583
@regan008 The original spec said to put it in there, but I realized that we have a LOT going on in there already and this seemed to be such an edge case I wasn't sure it made sense. Should it go into quick actions as well?

[2015-10-22 01:06] regan008 commented on #583
@AramZS Yeah, I think you're probably right. There is a lot in that panel already. Lets leave it out and then if we change our mind down the road we can add it back in.

[2015-10-22 01:06] regan008 commented on #583
So I'll go ahead and close this as it appears to be working.

[2015-10-22 01:06] #583 closed

[2015-10-22 05:43] AramZS commented on #335
Still looking for thoughts on what pages this should go on and thoughts on styling.

[2015-10-22 17:18] regan008 commented on #335
Hey @stakats this was a feature you had requested at our kickoff meeting last November right? Its live in pftesting.chnm.org if you want to take a look. I will send you a login right now. It should appear on both the All Content and Nominated pages at the moment.  Do you have any thoughts as to where this should be located or how it should be styled?

@lmrhody and I briefly discussed it on Monday.

[2015-10-22 17:19] AramZS commented on #335
@regan008 That would be possible, yes.

[2015-10-23 01:05] AramZS opened #659 "Feedlist should use pagination"
It is causing problems if feed list is large enough.

We need to switch the feedlist function to give a post count via https://codex.wordpress.org/Function_Reference/wp_count_posts but use pagination in queries.

[2015-10-23 02:51] AramZS commented on #656
I believe this to be resolved. Please test by adding feeds into the system with OPML files and verifying that the process of adding titles to them no longer crashes the system.

[2015-10-23 02:53] AramZS commented on #655
The system should have resolved this now.

[2015-10-23 03:01] AramZS commented on #654
This should no longer occur

[2015-10-23 03:09] AramZS commented on #644
Issue here should now be resolved.

[2015-10-23 03:53] AramZS commented on #290
No styling provided, but list can now be output

[2015-10-23 12:57] stakats commented on #335
@regan008 Agree that the progress bar does not need to be available everywhere. If we're going to show feed retrieval process like the way you describe, it might make sense to have a single place where you see when feeds were last retrieved, when they'll next be retrieved, and progress if they're currently being retrieved. I can also imagine that having a button right there that manually kicks off

[2015-10-23 13:48] AramZS commented on #335
@stakats Ok, do we have a preference on where that location should be?

[2015-10-24 17:33] AramZS commented on #335
Note: Do not fire on the Tools page. It is currently firing on the Tools page. Unless we want to move this to the Tools page?

[2015-10-25 01:59] AramZS commented on #657
I've added the results to this process to the logging process but not in a response yet. It looks quite complicated to implement.

[2015-10-26 14:17] regan008 commented on #479
@AramZS The redirect preference now matches what the site preference is. However, now when the site redirect preference is on and I turn redirect off within the post the post still redirects when published.

[2015-10-26 14:19] asmorton commented on #478
Works in AC and Nominated.

[2015-10-26 14:19] #478 closed

[2015-10-26 15:09] #585 closed

[2015-10-26 16:22] regan008 commented on #657
@AramZS  It seems that when the same feed is nominated multiple times through Nominate This that it is being duplicated inside of subscribed feeds.

Also, can we adjust the success and failure messages that appear when a feed is nominated.  We think there should probably be 3 different alerts:
1. Red alert -- "PressForward was unable to identify a feed associated with this site. Please contact the

[2015-10-26 16:28] regan008 commented on #651
@AramZS Can you explain what this warning message means: "You can press this button to manually iniate the process of selecting feed items more than 2 months old. Be careful, there is a chance of iniating this process simultaniously with a process triggered automatically every 30 minutes."? We're a little confused about what exactly that means.

Also, can clicking this button generate some form of

[2015-10-26 16:31] regan008 commented on #406
@AramZS There isn't an archive button in All content right? Are you referring to hide in all content and archive in nominated?

[2015-10-26 16:34] regan008 commented on #637
I'm going to close this as I think its probably not a big deal.

[2015-10-26 16:34] #637 closed

[2015-10-26 16:37] #90 closed

[2015-10-26 16:37] #124 closed

[2015-10-26 16:39] asmorton commented on #272
related to #434

[2015-10-26 16:39] #272 closed

[2015-10-26 16:40] regan008 opened #660 "Refresh Button Broken"
When clicked, the refresh button is generating a yellow bordered box with the word undefined. Possibly related to #391 and #651

![screenshot 2015-10-26 12 40 06](https://cloud.githubusercontent.com/assets/4553057/10735506/be95bc94-7bde-11e5-9894-c8e2b90aa15f.png)

[2015-10-26 16:52] regan008 commented on #650
From what I can tell this is resolved.

[2015-10-26 16:52] #650 closed

[2015-10-26 16:55] regan008 commented on #391
@AramZS Are you referring to the PressForward debug module or to wp-debug?

[2015-10-26 17:21] regan008 opened #661 "Saving a feed generates a success message and broken link"
In the edit feed page, when a feed is saves the success message that is generated references a post and creates an "edit post" link that is broken.

The success message should say something along the lines of "The feed was saved successfully." and there probably shouldn't be an edit link.
![screenshot 2015-10-26 13 21 03](https://cloud.githubusercontent.com/assets/4553057/10736628/6db4fc1c-7be4-11

[2015-10-26 17:22] regan008 opened #662 "Updating via Quick Edit in Subscribed Feeds Causes major layout issues"
Clicking update from quick edit causes layout issues. See screenshot below.
![screenshot 2015-10-26 12 59 53](https://cloud.githubusercontent.com/assets/4553057/10736661/a43546de-7be4-11e5-9e4f-b48d50a4bcf5.png)

[2015-10-26 17:23] AramZS commented on #391
@regan008 both of them should be off on a normal production site but the button should display a response.

[2015-10-26 17:24] AramZS commented on #391
@regan008 Though, it isn't showing a response even with them on.

[2015-10-26 17:24] regan008 opened #663 "Changing status in the Edit Feed page changes the save button back to "Save draft" rather than "Save inactive""
![screenshot 2015-10-26 13 04 02](https://cloud.githubusercontent.com/assets/4553057/10736706/d2280004-7be4-11e5-8210-59157f995462.png)

[2015-10-26 17:25] regan008 opened #664 "Cannot add folder from Edit Feed page"
The add a new folder option in the Edit Feed page isn't working. The button seems to be broken

[2015-10-26 17:26] AramZS commented on #661
@regan008 Is this new?

[2015-10-26 17:26] regan008 opened #665 "Making an alerted feed active again doesn't remove the feed error text on the item in Subscribed feeds."
![screenshot 2015-10-26 13 08 43](https://cloud.githubusercontent.com/assets/4553057/10736784/2d6c35f2-7be5-11e5-939e-e710cf5f62c2.png)

[2015-10-26 17:27] regan008 commented on #661
@AramZS I'm not sure, I think so but it might be older. I just noticed it when testing things on the subscribed feeds page.

[2015-10-26 17:30] regan008 opened #666 "In Quick Edit, the feed status options in the dropdown reflect post statuses not the feed statuses"
In Quick Edit the feed status dropdown contains: Published, Draft, and Pending Review when they should be Active and Inactive.

![screenshot 2015-10-26 13 30 14](https://cloud.githubusercontent.com/assets/4553057/10736894/b62b6854-7be5-11e5-8d9d-a603409c3355.png)

[2015-10-26 18:49] regan008 commented on #656
This appears to be fixed.

[2015-10-26 19:01] AramZS commented on #414
Done with https://github.com/PressForward/pressforward/commit/3091e6a3607b2fb98d9d534b9a39c84ec4887a9c

[2015-10-26 19:01] #414 closed

[2015-10-26 19:04] AramZS commented on #563
Same as #444 - I think it is resolved.

[2015-10-26 19:18] AramZS commented on #651
Add HR tags between elements on this page.

[2015-10-27 16:18] regan008 commented on #651
@AramZS I'm still having problems getting a response when I click this button in my local install (which runs php 5.5). I can't get it to do anything and I've tried several different browsers. I don't know if this means anything but I do see an error in the network section of the console.  See the screenshot below. Any idea what might be going on?

![screenshot 2015-10-27 12 16 54](https://cloud.g

[2015-10-27 16:37] regan008 commented on #406
@AramZS So I think this is half working (assuming I am understanding this issue correctly). The hide functionality in All Content is still causing items to archive in Nominated but only for Administrators. For contributors it works as expected. Hiding an item does not archive it in Nominated. I think this is just a user permissions bug -- hiding an item in all content shouldn't ever archive the it

[2015-10-27 17:07] regan008 commented on #563
This is resolved.

[2015-10-27 17:07] #563 closed

[2015-10-27 17:09] regan008 opened #667 "Submit Response button in Comment Box Returns "console.log(1);""
When the submit response button in the comment box is clicked a message that reads "console.log(1);" appears below the dialog box. When the page is refreshed the comment appears.
![screenshot 2015-10-27 13 05 43](https://cloud.githubusercontent.com/assets/4553057/10766046/fbf52cc8-7cab-11e5-8b18-be29e7f188ee.png)

[2015-10-27 17:15] regan008 commented on #667
@AramZS I'm not sure why this happens. I am also having trouble getting the reader view to show up at all. In my console I have a message that says "junk after document element". Do you think this could be caused by a bad element in one of the items?

[2015-10-27 17:20] regan008 commented on #667
This is all happening on my local server -- I'm running:
* nginx/1.9.4
* Database client version: libmysql - 5.5.44
* PHP extension: mysqli Documentation
* PHP version: 5.5.9-1ubuntu4.11

Not sure if that helps at all

[2015-10-27 17:54] regan008 commented on #667
This is apparently related to my user management plugin. I'm going to close these issues that don't appear when my plugin is deactivated.

[2015-10-27 17:54] #667 closed

[2015-10-27 18:11] AramZS commented on #651
@regan008 This appears to be the same issue as the comments issue, caused I think you said by another plugin?

[2015-10-27 18:14] regan008 commented on #651
yeah let me look into it a little bit this afternoon. I'm trying to figure
out what the difference between the 3 test sites is.  I might set up a
clean install and retest these issues from there. I'll get back to you

On Tue, Oct 27, 2015 at 2:11 PM, Aram Zucker-Scharff <
notifications@github.com> wrote:

[2015-10-27 19:21] regan008 commented on #664
This is likely related to the user management plugin interference so I'll go ahead and close it as well.

[2015-10-27 19:21] #664 closed

[2015-10-27 19:21] regan008 commented on #662
I think this is likely related to the user management plugin as well.

[2015-10-27 19:21] #662 closed

[2015-10-27 19:23] regan008 commented on #651
@AramZS Confirmed, this is working when the other plugin is deactivated.

[2015-10-27 19:23] #651 closed

[2015-10-27 20:04] regan008 commented on #335
@AramZS Just installed 3.7 on a fresh install and before I added any feeds the heartbeat loading bar showed up in All Content showing that 1 of 0 feeds was being checked.
![screenshot 2015-10-27 16 03 42](https://cloud.githubusercontent.com/assets/4553057/10770948/6a89ad0e-7cc4-11e5-800a-1666768861fb.png)

[2015-10-28 12:37] avishayil opened #668 "OPML import doesn't get titles from feedly OPML"
Hi,
I'm trying to import the following OPML:
http://www.geektime.com/feedly.opml.xml

It subscribes, but displays the URL of the feeds in the Title column on PressForward, instead of the actual title from the OPML parameters.

Anyone knows how to solve this issue?

[2015-10-28 16:16] eolson3 commented on #668
Unfortunately, you'll have to change them manually.  PressForward is pulling the title from the feed itself, which hasn't been set to something elegant.  To change them, go to the "Subscribed Feeds" panel.  You'll be able to edit each feed title there.

Is that the barrier you're running into?

[2015-10-28 17:01] AramZS commented on #668
If you wait, all functioning feeds will eventually be refreshed with their titles when the system retrieves content from them. Other than that, the OPML file would need to include titles. Yours seems too, I'm not sure why titles are not being added in that case. I'll take a look

[2015-10-31 18:26] AramZS commented on #666
👻

[2015-10-31 20:16] AramZS commented on #335
Move this to tools for now.

[2015-11-02 14:37] regan008 opened #669 "Feeds are not being retrieved at all and almost all being marked as alerted"
@AramZS Last week we noticed that the newest version of 3.7 wasn't retrieving content at all.  I've verified today that this is still the case. pftesting hasn't pulled new content since Oct 28th and is marking almost everything as alerted.  Is it possible something broke in one of your commits around that time?

[2015-11-02 19:13] AramZS commented on #290
`the_pf_comments` is a function now ready to be included in themes. To test this, Add it to a theme and it should show the PressForward comments in the front end.

[2015-11-02 19:19] regan008 commented on #665
Looks good to me

[2015-11-02 19:19] #665 closed

[2015-11-02 19:19] regan008 commented on #663
Confirmed, this is fixed

[2015-11-02 19:19] #663 closed

[2015-11-02 19:20] regan008 commented on #661
Looks good

[2015-11-02 19:20] #661 closed

[2015-11-02 19:22] regan008 commented on #391
This seems to be fixed -- it is showing responses when debug is both on and off

[2015-11-02 19:22] #391 closed

[2015-11-02 19:24] regan008 commented on #479
Confirmed. This is working now

[2015-11-02 19:24] #479 closed

[2015-11-02 19:25] regan008 commented on #660
@AramZS This is working now!  Would it be possible to get rid of the yellow border though?

[2015-11-02 19:33] regan008 commented on #290
hmmm -- it looks like this is pulling in the navigation from posts from wired rather than the comments. Will do some more investigating once you fix the retrieval process so I can add some different feeds.

[2015-11-03 06:24] devinbalkind commented on #236
Can you post a link to documentation that explains how to "make the source of published content more obvious?"

[2015-11-06 04:31] AramZS commented on #669
This appears to be resolved with https://github.com/PressForward/pressforward/commit/d873fe0b76d86bdad88c686c549296d5684c3ad3 please test.

[2015-11-06 18:55] AramZS opened #670 "Attempts to Nominate This already existing posts fail silently."

[2015-11-08 19:00] AramZS commented on #657
@regan008 The new message has two modes that can now be active. If WP_DEBUG is set to false or if the user doesn't have permission to publish posts, they should see a simplified error message. Otherwise Editor level and higher users, or all users when WP_DEBUG is on, will see a more complex error message with details to aid in debugging. Give it a try and tell me if it works.

[2015-11-09 01:20] AramZS commented on #656
Had to revert this, should re-approach

[2015-11-09 01:21] AramZS commented on #656
See: d873fe0b76d86bdad88c686c549296d5684c3ad3

[2015-11-09 04:59] AramZS commented on #541
This is a dupe of a now test-ready item, marking as such.

[2015-11-09 16:17] regan008 commented on #660
@AramZS as of this morning with the newest branch I'm getting undefined again -- did the fix get lost somewhere along the way with the most recent edits?

[2015-11-09 17:34] regan008 commented on #657
@AramZS This looks great!

[2015-11-09 17:34] #657 closed

[2015-11-09 17:35] regan008 commented on #669
This appears to be fixed

[2015-11-09 17:35] #669 closed

[2015-11-09 17:46] regan008 commented on #655
@AramZS Is this issue just referring to the duplication of feeds when an opml is added? Or is there another context in which feeds were added as drafts unexpectedly?

[2015-11-09 18:02] regan008 commented on #335
Looks good

[2015-11-09 18:02] #335 closed

[2015-11-09 18:03] AramZS commented on #655
@regan008 No, this is a different context. This was just Feed posts were going to Draft for no apparent reason.

[2015-11-09 18:11] regan008 commented on #406
@AramZS This appears to be working in some contexts however I am encountering issues when I try to unarchive an item. Here is a breakdown:
* archiving an item in Nominated removes (hides? archives? not sure which) the same item from All Content
*However, according to commit `ddca4c5` it should work in the reverse too.  When an item in unarchived not only does it not reappear in all content, it com

[2015-11-09 18:13] regan008 commented on #655
@AramZS Ok, I haven't been able to replicate this so I'm going to close it.

[2015-11-09 18:13] #655 closed

[2015-11-09 19:12] AramZS commented on #406
@regan008 Are you trying to unarchive from the context of Under Review?

[2015-11-10 16:09] regan008 commented on #406
@AramZS Yes -- that was where I was unarchiving from.

[2015-11-10 16:22] bschnei6 commented on #406
I've run some tests and my results are:
1) Some pieces cease to appear in nominated when archived, but do not appear under nominated.
2) Unarchiving items removes them from the archive, but does not restore them in nominated.
3) Items archived by one user no longer appear for other users, either in nominated or in the archive.
4) Items archived in nominated are hidden in all content.
5) Items hidd

[2015-11-10 16:53] regan008 commented on #654
Haven't been able to replicate this so I'm going to close it. I think its fixed.

[2015-11-10 16:53] #654 closed

[2015-11-10 17:12] regan008 commented on #290
@AramZS This is working!

[2015-11-10 17:12] #290 closed

[2015-11-10 17:15] regan008 commented on #656
@AramZS is this assigned to you so you can test it? If not could you elaborate on what exactly this means and what would be the best way for us to test it?

[2015-11-10 17:17] regan008 commented on #427
See comments in #406

[2015-11-10 17:18] regan008 commented on #541
See comment in #406

[2015-11-10 17:20] AramZS commented on #406
I cannot duplicate these results at all, can you check the network tab for the ajax response on each button press? @regan008 @bschnei6

I'm confused what's 'the archive' referring to in 2 and 3? @bschnei6

4), 5) are anticipated behaviors.

[2015-11-10 17:21] AramZS commented on #656
@regan008 I had to revert the code that resolved this ticket. So I have to rebuild it now, so there's nothing to test yet.

[2015-11-10 17:23] regan008 commented on #406
@AramZS I think for 2 & 3 @bschnei6 is referring to the "show archived" filter view

[2015-11-10 17:25] AramZS commented on #406
Wait, but that filters in, not out. It shows either Archived and Unarchived, or Unarchived. @bschnei6 - So unarchiving an object disappears it from the page?

[2015-11-10 17:26] regan008 commented on #406
@AramZS Sorry I used the wrong terminology -- I meant the show "only archived" filter. Unarching an object makes it disappear from that view however it never reappears in nominated

[2015-11-10 17:28] regan008 commented on #406
So to clarify the bug I'm seeing is not that unarchiving an item makes it disappear from the "only archived" filter but that when an item is unarchived it never reappears when you go back to the default nominated view.

[2015-11-10 18:37] regan008 commented on #593
Hey @AramZS I'm in the process of writing the change log. Could you expand on what this issue refers to?

[2015-11-10 19:30] AramZS commented on #593
@regan008 Oh, this was just reminding me to add something to the Wiki devbook

[2015-11-10 19:31] regan008 commented on #593
Ah ok -- I'll take it out of the changelog list then!

[2015-11-10 22:45] devinbalkind opened #673 "Add option to place Source Title/Link at top of post instead of bottom"
This would give more attention to the creator of the content.

[2015-11-13 01:48] AramZS commented on #660
@regan008 I'll get rid of the yellow border. I can't duplicate the problem, last time it happened it was a plugin acting up, is it possible that is occurring again?

[2015-11-13 01:51] #660 closed

[2015-11-13 02:52] AramZS commented on #406
Should now be resolved.

[2015-11-13 02:53] AramZS commented on #656
Passing this to the next milestone. It was a problem before, so it will continue being a problem for now.

[2015-11-13 02:57] AramZS commented on #541
Duplicate so closing.

[2015-11-13 02:57] #541 closed

[2015-11-15 15:23] regan008 commented on #427
@AramZS This is working now!

[2015-11-15 15:23] #427 closed

[2015-11-15 15:23] regan008 commented on #406
This is working now

[2015-11-15 15:23] #406 closed

[2015-11-15 15:36] regan008 commented on #666
@AramZS For some reason the statuses are reflecting active in the quick edit dropdown even if the feed is alerted.  An alerted feed's status should be inactive right? That is how it appears inside of the edit feed screen. See below:
![screenshot 2015-11-15 10 33 06](https://cloud.githubusercontent.com/assets/4553057/11169405/9efb415a-8b84-11e5-98da-f9ed87e863bc.png)
![screenshot 2015-11-15 10 32 5

[2015-11-15 15:37] regan008 commented on #644
This is resolved.

[2015-11-15 15:37] #644 closed

[2015-11-15 16:09] regan008 commented on #614
@AramZS This didn't get tagged 3.7.x but is still an issue. Is this an easy fix before we release?  If not we can move it to 3.8 but since all of our screenshots and documentation show a button I can imagine this being slightly confusing.  Seems like maybe its just missing a css class or something? It has reverted to a link in both All Content and Tools. For reference it used to look like this:

!

[2015-11-15 17:22] AramZS commented on #614
@regan008 @lmrhody  Should be resolved now

[2015-11-15 17:24] regan008 commented on #614
@AramZS Looks good

[2015-11-15 17:24] #614 closed

[2015-11-15 17:24] AramZS commented on #666
@regan008 This reflects the future post status, when it removes the alert, altering this might take a while. Do we want to fix this in 3.7 or can it wait until 3.8?

[2015-11-15 17:30] AramZS commented on #673
Thanks for this suggestion, we'll add an option

[2015-11-15 17:32] regan008 commented on #666
@AramZS Oh I see, yeah lets move it to 3.8

[2015-11-17 07:51] #666 closed

[2015-11-18 14:29] AramZS opened #676 "Warning for users who have an old version of PHP"

[2015-11-18 15:28] AramZS opened #677 "Bookmarklet failure to nominate feed? Then provide a field on failure"
Also note in the feed object that it is manually added.

[2015-11-18 15:32] AramZS opened #678 "Have Add Feed as field treat submitted feeds as Under Reviews if user is below X role"
Set role via option.

[2015-11-18 15:33] AramZS opened #679 "Make Add Feeds Field available as a shortcode/template tag"
Dependent on #678

[2015-11-18 15:43] AramZS opened #680 "Video-type Feed Item"

[2015-11-18 15:43] AramZS opened #681 "Audio-type feed item"

[2015-11-18 15:45] AramZS opened #682 "Have post_meta owned by a single post object throughout the process"

[2015-11-18 15:46] AramZS opened #683 "Set up API endpoint for feed items"
Make it active based on site admin option selection

[2015-11-18 16:03] AramZS opened #684 "Generalized Post-with-Metadata Object"
Then can be extended for a PressForward specific version

[2015-11-18 16:06] AramZS opened #685 "Generalized standard Feed object"

[2015-11-18 16:08] AramZS opened #686 "Track Share From PressForward actions"

[2015-11-18 16:17] AramZS opened #687 "Track mentions on X Facebook post, associated with a Item Post"

[2015-11-18 16:17] AramZS opened #688 "Track mentions of URL of Item associated with PF Item"

[2015-11-18 16:18] AramZS opened #689 "Sharable version of Feed Items that runs users through our site"

[2015-11-18 16:25] AramZS opened #690 "Nominate This should parse Keywords and OG Terms and attempt to match with categories"
If no match, add as tags?

[2015-11-18 16:29] AramZS opened #691 "Share to Email - with Intents (to Nominate) URLs?"

[2015-11-18 16:33] AramZS opened #692 "Build hooks to allow Amplify actions to be recorded as Relationships per-user"

[2015-11-18 16:39] AramZS commented on #191
Model for export.
Hook to ingest archives as part of API.

[2015-11-18 16:39] AramZS opened #693 "API Endpoint to Trigger Readability on an item"

[2015-11-18 16:43] AramZS opened #694 "List view has blue linked Titles on a blue background."

[2015-11-18 16:48] AramZS opened #695 "Vox Media sites fails Readability"

[2015-11-18 16:51] AramZS commented on #622
#695 related

[2015-11-18 16:54] regan008 opened #696 "RSS feed for the Verge and Polygon do not work"
They always appear as alerted

[2015-11-18 16:55] AramZS opened #697 "Parse WP API as RSS Feed"

[2015-11-18 16:56] AramZS opened #698 "Subscribe to Twitter Users as Feed"

[2015-11-18 16:56] AramZS opened #699 "Subscribe to Twitter Lists like an OPML file"
With Users as Feeds

[2015-11-18 16:57] AramZS opened #700 "Subscribe to Twitter Search as Feed"

[2015-11-18 17:02] AramZS commented on #698
Attach Tweet URL as Post Meta
Render Tweet through oEmbed in the Feed Item for people to see.

[2015-11-18 17:03] AramZS commented on #698
Archive Tweet (possibly through Media Library)

[2015-11-18 17:03] AramZS commented on #699
#698 is blocker

[2015-11-18 17:03] AramZS commented on #700
#698 is blocker

[2015-11-18 17:05] AramZS commented on #698
Only pull tweets with links, video, and audio attached.

[2015-11-18 17:05] AramZS commented on #698
Have default folder for Twitter feeds

[2015-11-18 17:05] AramZS commented on #698
Have a filter for Twitter feeds on/off (user option for default)

[2015-11-18 17:08] AramZS opened #701 "Run body content through wp_content filters to render oEmbed"
Or just oEmbed filters?

[2015-11-18 17:08] AramZS commented on #696
Vox Media sites, oy.

[2015-11-18 17:15] AramZS opened #702 "What Rights on content interpret how we deal with that content?"
What metadata do we generate, how do we interpret it?

[2015-11-18 17:17] AramZS opened #703 "Check if URL exists and if it does not, turn off forwarding."

[2015-11-18 17:23] AramZS opened #704 "'Blogroll' style widget with folders"
Ability to show Blogroll, show by folder, show with alerts as their own tab.

[2015-11-18 18:24] AramZS opened #705 "Open Readability as a stand alone class"

[2015-11-18 19:25] AramZS opened #706 "Parse out Item Authors into an array."
multiple non-unique post metas

[2015-11-18 19:29] AramZS opened #707 "Make Item tags actual tags, not just an array, on items and nominations."

[2015-11-18 19:38] AramZS opened #708 "Add Timestamp to Relationships table"
This will allow us to depreciate `Submitted By` (on Nominations) and `Nominator Array` (across all).

Server time / unix time?

[2015-11-18 19:40] AramZS opened #709 "Depreciate all but one version of item_date"

[2015-11-18 19:42] boonebgorges commented on #708
This is a good idea. I'd suggest a DATETIME field (PHP Y-m-d H:i:s)
because it's what WP uses, so you can leverage current_time() and stuff
like that.

I'd suggest only storing UTC and translating on output. Attempting
server or WP time will lead to madness.

On 11/18/15 13:38, Aram Zucker-Scharff wrote:

[2015-11-18 19:48] AramZS opened #710 "Let API query up posts by PF meta, based on if that meta has FALSE as a serialize value"

[2015-11-18 19:51] AramZS opened #711 "Get rid of module_added on Feeds?"
Because we have feed_type

[2015-11-18 20:05] AramZS opened #712 "PF Comments API Endpoints"

[2015-11-18 20:06] AramZS opened #713 "API Endpoint - posts by parent item's folder"

[2015-11-20 14:48] AramZS opened #714 "Nominate This crashes on Gothamist"
Catchable fatal error: Object of class WP_Error could not be converted to string in /home/arazuc/chronoto.pe/wp-content/plugins/pressforward/includes/functions.php on line 775

[2015-11-22 16:49] AramZS commented on #714
Test by attempting to use nominate this on a number of Gothamist articles

[2015-11-22 16:50] regan008 commented on #714
Assigning this to @bschnei6 since I'm out of the office this coming week.

[2015-11-23 15:13] AramZS commented on #714
Confirmed URL to test on is http://gothamist.com/2015/11/20/l_o_hell.php

[2015-11-23 17:43] bschnei6 opened #715 "Contributor Bookmarklet Error"
When using the bookmarklet as a contributor, the nominate button reads "Submit for Review."

[2015-11-23 17:54] bschnei6 commented on #714
I've tested about a dozen articles in addition to the above URL. None have gone through to the nominated page.

[2015-11-23 18:10] AramZS commented on #714
@bschnei6 on 3.8.x?

[2015-11-23 18:13] bschnei6 commented on #714
Mandy says she doesn't think the test site has been updated to 3.8 yet. We'll update it and I'll run the test again.

[2015-11-23 18:16] AramZS commented on #714
@bschnei6 thanks!

[2015-11-23 18:24] bschnei6 commented on #714
Gothamist sites are nominating, but are giving errors in the plugin and in the nominated page. Error text is:

Notice: Undefined index: simple in /websites/pftesting/www/wp-content/plugins/pressforward/includes/nomthis/nominate-this.php on line 816

This error doesn't seem to have any effect on the text of the Gothamist page displaying correctly in Nominated, nor does it prevent the "Read Original

[2015-11-25 10:54] wykydtronik opened #716 "Youtube RSS should pull in URL for oEmbed"
Hello,

Testing PressForward with Youtube RSS feeds.

Example,
https://www.youtube.com/feeds/videos.xml?user=noriyaro

More feeds like this can be generated according to Youtube documentation
https://www.youtube.com/feeds/videos.xml?channel_id=CHANNELID
https://www.youtube.com/feeds/videos.xml?user=USERNAME
https://www.youtube.com/feeds/videos.xml?playlist_id=YOUR_YOUTUBE_PLAYLIST_NUMBER

Goal is

[2015-11-27 02:38] AramZS commented on #716
Oh, I didn't even know that YouTube generated RSS feeds. We will definitely put this in the workflow.

[2015-11-27 03:49] AramZS commented on #694
Resolved with https://github.com/PressForward/pressforward/commit/20ef124c01b8acc2369f0df1e924a5f3449871eb

[2015-11-28 17:54] nicheprof opened #718 "404 Error"
I have the Nominate This PressForward Bookmarklet installed on the Bookmarks bar, however, when I attempt to push the button to add an article or site with this method I get a 404 Page Not Found Error in the pop-up window.

I have no issues with adding RSS Feeds through the WP Admin Area and completing the aggregating, nominating and posting through that process.

What am I missing?

Thanks in adv

[2015-11-30 15:59] bschnei6 commented on #694
List view now has blue linked titles on a white background. This issue can be closed.

[2015-11-30 17:57] regan008 commented on #714
@AramZS Is this Notice something that is appearing because we have debug on or will it not appear for users with debug off?

[2015-11-30 17:58] AramZS commented on #714
The notice only shows because debug is on, but it should still be resolved.

[2015-11-30 17:59] regan008 commented on #375
I'm going to close this, I think we need to go back and revisit the testing forms regardless since so much has changed over the last year.

[2015-11-30 17:59] #375 closed

[2015-11-30 18:01] regan008 commented on #351
I believe this is fixed so I'm going to close it.

[2015-11-30 18:01] #351 closed

[2015-11-30 18:02] regan008 commented on #526
@AramZS Can this be closed?

[2015-11-30 18:19] AramZS commented on #526
@regan008 Is it tested and not happening for you?

[2015-12-09 04:15] AramZS commented on #715
@bschnei6 I cannot duplicate this on any machines. Do you have any plugins creating user role modifications?

[2015-12-09 04:23] #714 closed

[2015-12-09 05:26] AramZS commented on #658
Oh CF security... >.<

[2015-12-09 05:26] #658 closed

[2015-12-14 01:30] #676 closed

[2015-12-14 04:18] #668 closed

[2015-12-14 04:38] AramZS commented on #673
@devinbalkind Thank you again for this idea, the feature is now slated to come out in the next release.

[2015-12-14 16:24] asmorton opened #720 "Readability doesn't load"
Readability sticks at "Attempting to retrieve full article" on digitalhumanitiesnow.

[2015-12-14 16:26] AramZS commented on #720
It doesn't load for users of the site or on articles on the site?

[2015-12-14 16:30] asmorton commented on #720
our eds have to go directly to read original to get to items from all content/nominated

[2015-12-14 16:30] asmorton commented on #720
Correction - it seems to work for items in nominated

[2015-12-14 16:39] AramZS commented on #718
@nicheprof Do you have a standard folder structure for your site? Sometimes our bookmarklet has trouble finding the URL if there is a non-standard WordPress file structure.

[2015-12-14 16:51] AramZS commented on #720
@asmorton I've checked in the site, the process is executing, the AJAX is firing and responding properly (so if you refresh the page after opening the item, you'll see the full readable post in place). It looks like it is just not placing the readability text in via AJAX. Has anything changed on the site recently? Is this since the PF upgrade?

[2015-12-14 17:32] asmorton commented on #720
I've only noticed it since the PF update. Other than that, we haven't changed anything on the site.

[2015-12-14 18:57] regan008 commented on #694
Hey @AramZS, sorry I've been MIA for the last few weeks as I finished up some school stuff. I'm just now returning to 3.8 and testing it.

I know we already closed this, but now that I'm looking at it more closely I'm wondering if it might look a bit better to make the `<div role="Main">` section rather than `<div id="entries">` (see screenshot) on All Content/Nominated white. I think the white he

[2015-12-14 18:59] AramZS commented on #694
Sure, that works. My only concern is that it leaves our UI a little less distinct.

[2015-12-14 19:04] regan008 commented on #459
@AramZS Do you happen to have an example of a site where this is a problem? I'm testing but haven't been able to duplicate it.

[2015-12-14 19:07] AramZS commented on #459
Pre 3.8.x you would get an empty post when you clicked edit or view after a success on the second time using Nominate This on the same article. Afterwords you should be able to use nominate this many times on the same article and always get sent back to the same post ID to edit or URL to view.

[2015-12-14 19:09] regan008 commented on #459
@AramZS Ahhh, ok, I misunderstood the issue. Let me test that then

[2015-12-14 19:17] regan008 commented on #459
Ok, I see a couple issues so far.
1. If the post was nominated (but not drafted) multiple times using the bookmarklet the "Edit" or "View" Post option takes you to either a blank post or to a browser page with an error.
2. When a post is drafted and you nominate the same one using the bookmarklet and click edit or view it generate an error in the browser that says "too many redirects"

It seems to

[2015-12-14 19:19] regan008 commented on #715
Confirmed, this must have bene an old version of either the plugin or bookmarklet.  I'll close this.

[2015-12-14 19:19] #715 closed

[2015-12-14 19:27] regan008 opened #721 "Send to draft in All Content broken"
It seems that Send to draft in All Content is broken. The button turns green however I can't get any post to show up in Drafts or in Nominated.

[2015-12-14 19:40] regan008 opened #722 "When Feeder Menu Privileges set to "Author" the user can view add and subscribed feeds pages but can't add feed"
One of our partners reported that they are having an issue with setting the Feeder privileges option to Author. Doing so grants permission to view the subscribed and add feeds pages but users with the role "Author" can't add a feed and get a Wordpress error that reads "Cheatin' huh?"

[2015-12-14 20:21] devinbalkind commented on #673
Awesome. When is that going to be available?

On Sun, Dec 13, 2015 at 11:38 PM, Aram Zucker-Scharff <
notifications@github.com> wrote:

[2015-12-14 20:26] AramZS commented on #694
Fix this to main instead.

[2015-12-14 20:27] AramZS opened #723 "Test if Send to Draft from Nominate This works when post is in Nominations"

[2015-12-15 15:17] peter-nl opened #724 "You are not allowed to edit posts in this post type; pf_feed"
Hi PressForward,

Love the plugin and thank you for that!

When trying to access the "Subscribed feeds" submenu (edit.php?post_type=pf_feed) I run into an error, "You are not allowed to edit posts in this post type".
This error occurs in WP4.4, no other plugins active but PressForward, twenty sixteen theme, logged in as Administrator.

Looking at the registration of the custom posttype 'pf_feed' i

[2015-12-15 15:22] AramZS commented on #724
Yes, this change in 4.4 has altered the expected behavior of PressForward unexpectedly. We will be patching very soon.

[2015-12-15 15:47] peter-nl commented on #724
Thanks for getting back this quick! We look forward to the patch.
I'll close the issue.
Again, thanks!

[2015-12-15 15:47] #724 closed

[2015-12-18 20:00] dianemercier commented on #722
Can't go to "Subscribed feed" sub-menu.
~/wp-admin/edit.php?post_type=pf_feed
Received error message :
"You are not allowed to edit posts in this post type"

I resetted user control to default. My username account is setted to "administrator"
... both in my localhost and my website

I can go to sub-menus : Nominated; All content; Add Feeds; Tools; and View Log

[2015-12-20 00:16] AramZS commented on #721
Nominate to draft isn't sending metadata to draft

[2015-12-23 00:00] regan008 opened #725 "Date/Time Metadata wrong"
The date and time of each nomination is displaying wrong. (These items aren't from 1970!)  See screenshots below:
![screenshot 2015-12-22 18 58 17](https://cloud.githubusercontent.com/assets/4553057/11968818/3d1c6154-a8de-11e5-9323-8e8e62e2ba96.png)

[2015-12-23 00:00] regan008 commented on #725
Oh and this is on the 3.8-pf-meta-fixes branch

[2015-12-23 00:01] AramZS commented on #725
Confirmed.

[2015-12-23 00:03] regan008 opened #726 "Nominations duplicated on 3.8.x-post-meta-fixes"
Some nominations are displaying multiple times.  I nominated this item, unnominated it and then nominated it once more and it is displayed 3 separate times in Nominated.
![screenshot 2015-12-22 19 02 13](https://cloud.githubusercontent.com/assets/4553057/11968843/9f81c604-a8de-11e5-95a7-f1d562574527.png)

[2015-12-23 00:03] regan008 commented on #726
Also the nominations aren't displaying a count at all.

[2015-12-23 00:11] regan008 opened #727 "Updating feed url doesn't update feed url display in Subscribed Feeds"
When I update the feed url in subscribed feeds either through quick edit or through the edit feed page, the url that is displayed below the feed title in the list view on Subscribed Feeds never changes.

Probably not a big deal immediately if you need to push it out of this milestone.

[2015-12-23 00:47] AramZS commented on #727
I will push this to 3.9

[2015-12-23 01:04] regan008 commented on #722
@AramZS in 3.8.x-post-meta-fixes this appears to be resolved

[2015-12-23 01:10] regan008 commented on #673
@AramZS I'm still having trouble getting this to work.  Will retest after you push the nomination-related issues tonight.

[2015-12-23 16:52] dianemercier commented on #722
The solution to the problem above has been given by @Niackery at
https://wordpress.org/support/topic/permissions-error-16
To fix the problem, add the following to the register_post_type function in pressforward/includes/feeds.php:
'show_ui' => true,

I removed the comment (#). In addition, it was necessary to add a comma at the end of the line before : 'show_in_menu' => PF_MENU_SLUG,

+1

[2015-12-26 21:43] midnightfocus opened #728 "can I use pressforward with p2 theme"
I'm sorry but I don't have testing site to try it out. if someone could tell me if I can use pressforward with p2 theme http://p2theme.com/

[2015-12-27 21:41] AramZS opened #729 "PF no longer overrides WP's default cannonical configuration in HEAD"

[2015-12-31 06:59] AramZS commented on #459
This is happening with Nominations Bookmarklet to Nomination

[2015-12-31 07:02] AramZS commented on #459
This is no longer happening with Nominations to Draft

[2015-12-31 17:49] regan008 commented on #726
Appears to be resolved.

[2015-12-31 17:49] #726 closed

[2015-12-31 17:49] regan008 commented on #725
Fixed

[2015-12-31 17:49] #725 closed

[2015-12-31 17:51] regan008 commented on #722
Confirmed -- this has been resolved.

[2015-12-31 17:51] #722 closed

[2015-12-31 17:52] regan008 commented on #694
@AramZS are we holding off on switching this to `<main>` for 3.8?

[2015-12-31 17:53] regan008 commented on #721
Resolved

[2015-12-31 17:53] #721 closed

[2015-12-31 17:54] regan008 commented on #673
Confirmed this is now working -- This is a cool option!  @devinbalkind Should be available with the 3.8 release in the next few days.

[2015-12-31 17:55] #673 closed

[2015-12-31 17:55] regan008 commented on #656
@AramZS How should I test this? I think you said you have some rss feeds that you know it fails with right?

[2015-12-31 18:10] AramZS commented on #694
@regan008 Nah, I just haven't hit this issue yet.

[2015-12-31 18:11] AramZS commented on #656
@regan008 Oh yes, we should. Yes, one sec...

[2015-12-31 18:11] regan008 commented on #459
@AramZS Ok, so I think this is mostly fixed but I do see one new issue that I think is related.

The nomination count doesn't appear to be increasing for additional nominations of the same post (by different users) with the bookmarklet. I nominated an item from a contributor account and then nominated the same item with my admin account and the count never progressed past 1.

However, when nominat

[2015-12-31 18:18] regan008 commented on #723
This is working for me so I'll close this issue.

[2015-12-31 18:18] #723 closed

[2015-12-31 18:19] AramZS commented on #656
@regan008 Test with these:
http://173.13.167.171/scobleizer/rss.xml
http://173.13.167.171/10000words/rsstop.xml
http://173.13.167.171/greglinch/rsstop.xml
http://173.13.167.171/joeybaker/rsstop.xml
http://173.13.167.171/samplereality/rsstop.xml
http://www.publish2.com/network/greg-linch/links.rss
http://www.publish2.com/newsgroups/copress-network.rss
http://www.jlittau.net/?feed=rss

[2015-12-31 18:20] AramZS commented on #723
@regan008 So this works, but as per #459 it doesn't increment nominations, even though the post being Sent to Draft from the bookmarklet is in nominations?

[2015-12-31 18:20] regan008 commented on #656
@AramZS I should make an opml out of them right?

[2015-12-31 18:21] AramZS commented on #656
Oh, yes, that's right, you should, so they get added as rss-quick.

[2015-12-31 18:22] AramZS commented on #656
@regan008 But also include some valid RSS in the site, so we can make sure they know how to continue on to the valid RSS.

[2015-12-31 18:23] regan008 commented on #723
Yes -- that is correct!

[2015-12-31 18:25] regan008 commented on #656
@AramZS Gotcha. Will test right now

[2015-12-31 18:27] AramZS opened #731 "Better failure methods for when OG image is not provided to the bookmarklet"
It should look for the first image in the content and use that as a featured image instead.

[2015-12-31 21:45] regan008 commented on #656
@AramZS I think this is working now. The system added all the feeds and then moved on to retrieve content from the valid feeds.  Is there anything else I should be looking for?

[2016-01-02 02:24] #459 closed

[2016-01-02 02:26] AramZS commented on #656
@regan008 Nope, that resolves it.

[2016-01-02 02:26] #656 closed

[2016-01-02 02:28] AramZS opened #732 "Provide more efficient method of resolving feed titles for RSS-Quick"

[2016-01-02 02:49] AramZS commented on #694
@regan008 I couldn't apply the style and have it be aware of if we were in list or grid mode, so I applied it further up the chain, but a little lower than main, that should create the intended effect. Give me the heads up, but I think this works.

[2016-01-02 02:49] #694 closed

[2016-01-02 16:12] regan008 commented on #694
Ah, I see -- that makes sense. I hadn't thought about the difference between grid and list view.  Looks good for now.

[2016-01-02 16:17] regan008 commented on #459
tested and confirmed that this is working as expected now!

[2016-01-05 15:31] AramZS opened #733 "Nominate This is not passing categories"

[2016-01-06 05:57] #733 closed

[2016-01-09 05:20] AramZS commented on #728
@midnightfocus Yes, it should work with that theme just fine for all standard uses. What exactly are you trying to do with it?

[2016-01-09 05:21] #728 closed

[2016-01-09 05:22] AramZS commented on #720
@asmorton Hey, I've put a bunch of work into optimizing this function. It should no longer be occurring with the latest version of PressForward. Is it?

[2016-01-09 05:29] AramZS commented on #718
Hi @nicheprof I wanted to check in on this again. Are you still having this issue consistently? Can you try our latest release and see if it fixes your problem?

[2016-01-09 05:50] AramZS commented on #696
@regan008 I think this is resolved in the latest release. Can you check?

[2016-01-09 06:00] #695 closed

[2016-01-09 06:01] AramZS commented on #588
This should be resolved, please test.

[2016-01-09 06:02] AramZS commented on #594
Test

[2016-01-09 06:02] AramZS commented on #551
This should be resolved, please test.

[2016-01-09 06:03] AramZS commented on #488
This should be resolved. Let's test.

[2016-01-09 06:04] AramZS commented on #652
This should be resolved, can you confirm @mAAdhaTTah ?

[2016-01-09 06:16] AramZS commented on #601
@lmullen With the latest release of PressForward this should be resolved. Can you please double check that this problem is no longer occurring?

[2016-01-09 06:17] AramZS commented on #576
This should be resolved with the latest release. Can you double check before I close this?

[2016-01-09 06:19] AramZS commented on #588
This is still not resolved. Not sure why. Needs to be fixed.

[2016-01-09 16:25] mAAdhaTTah commented on #588
FWIW, Pocket also has problems with PSMag.

[2016-01-09 16:38] AramZS commented on #588
Huh. Weird.

[2016-01-10 15:07] AramZS opened #736 "Badly caught fail on Nominate This"
[code]

[2016-01-10 15:12] AramZS commented on #736
Seen on https://medium.com/@profcarroll/peak-peach-413739752a2e#.oajfhar28

[2016-01-11 16:38] lmullen commented on #601
@AramZS I was just using the feed validator on the DH Now website. I don't have my own installation of PressForward. The feed for DH Now still does not validate, but I assume that's because this feature hasn't made it to DH Now yet.

https://validator.w3.org/feed/check.cgi?url=http%3A%2F%2Fdigitalhumanitiesnow.org%2F%3Ffeed%3Dfeedforward

[2016-01-11 18:14] AramZS commented on #601
@lmullen Can we loop back to this once DH Now is up to date?

[2016-01-11 19:05] lmullen commented on #601
Sure.

On Mon, Jan 11, 2016 at 1:14 PM, Aram Zucker-Scharff <
notifications@github.com> wrote:

--
Lincoln Mullen, http://lincolnmullen.com
Assistant Professor, Department of History & Art History
George Mason University

[2016-01-13 17:58] regan008 commented on #652
Confirmed -- this appears to be resolved.

[2016-01-13 17:58] #652 closed

[2016-01-13 18:03] regan008 commented on #551
Confirmed.

[2016-01-13 18:03] #551 closed

[2016-01-13 18:53] regan008 commented on #576
@AramZS It appears that reader view isn't working at all in Opera on Mac in the latest release.

[2016-01-14 01:38] AramZS commented on #576
@regan008 More details needed. You mean the model? In which view? I use Opera on Mac a lot and didn't see this. Is there a console error?

[2016-01-14 14:54] regan008 commented on #576
Gah, upon further testing it seems this is yet another bug with the user management plugin causing a conflict. Not sure why but I'll look into it.

However, archiving a nomination still does cause read view to act oddly see screenshot
![screen shot 2016-01-14 at 9 52 36 am](https://cloud.githubusercontent.com/assets/4553057/12327444/95d5c9e8-baa4-11e5-8eca-76db6bc7bc21.png)
 below.

[2016-01-18 19:39] devinbalkind opened #738 "Getting more done in GitHub with ZenHub"
Hola! @devinbalkind has created a [ZenHub](http://www.zenhub.io) account for the **PressForward** organization. ZenHub is the leading team collaboration and project management solution built for GitHub.

---
#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.io?utm_source=ZHOnboarding)** and log in with your GitHub acco

[2016-01-18 19:39] devinbalkind commented on #738
Woops sorry didn't mean to do this...

[2016-02-07 21:46] devinbalkind commented on #718
I have this issue as well. My site is at a "blog." subdomain. Any advice for how to make this work?

[2016-02-07 22:16] AramZS commented on #718
@devinbalkind Can you try deleting the bookmarklet and re-adding it from the PressForward Tools page to your bookmark bar?

[2016-02-07 22:43] devinbalkind commented on #718
Ya - same error.

On Sun, Feb 7, 2016 at 5:16 PM, Aram Zucker-Scharff <
notifications@github.com> wrote:

[2016-02-14 16:12] TimRohr22 commented on #718
I am having the same issue... I have removed and re-added the bookmarklet, and I have added the bookmarklet both by dragging it from the Tools page and by manually copying the code and creating a bookmark. I have Wordpress 4.4.2 installed, and it tells me PF hasn't been tested with my version of Wordpress. Using the bookmarklet in Chrome (up to date) on a Windows Vista machine.

[2016-02-14 21:55] devinbalkind commented on #718
I've gone through the same steps as Tim. My computer is running Ubuntu and
chrome.

As a work around I'm using getpocket.com as a bookmark tool, exposing it's
RSS feed and syndicating that into press forward.

On Sunday, February 14, 2016, TimRohr22 <notifications@github.com> wrote:

[2016-02-27 18:12] zlove opened #739 "PressForward conflict with wp101"
When PressForward is installed, I cannot perform admin actions with the wp101 plugin (https://wp101plugin.com/), including adding a custom video, updating settings, etc. When trying to take an action in wp101, I would receive a 403 response with the Wordpress message "Are you sure you want to do this?".

Here is a quick screen capture demonstrating the issue:

https://youtu.be/ZzQybWIO1p8

PressFo

[2016-02-28 16:44] AramZS commented on #739
@zlove Do you have the latest version of PressForward?

[2016-02-28 17:45] zlove commented on #739
I've got version 3.8.0 - the latest available at
https://wordpress.org/plugins/pressforward/

On Sun, Feb 28, 2016 at 11:44 AM, Aram Zucker-Scharff <
notifications@github.com> wrote:

[2016-03-08 00:01] plexus77 opened #740 "Control over how content is processed and the post type it is saved under"
Hi guys,

Great plugin, it nearly has everything I need for a project I am currently involved in.

Not sure this is the right place to be talking about this but here I go...

When an article is published what is the best way to hook into the post creation process so that I can further process the content (main body of article) into an alternative form.  I am using custom fields within the wordpres

[2016-03-15 17:52] AramZS commented on #740
Hi @plexus77 We have to reserve a particular post type for the initial ingestion of feeds so the system can understand what is going on, however, in PressForward's Preferences -> Site Options you can select from any registered Post Type as the post type you would like PressForward to send items to as its last publish/draft step.

After that, you can do any processing of saved content the way you w

[2016-03-15 22:13] plexus77 commented on #740
Yes it certainly does, thanks for getting back to me :)

[2016-03-15 22:13] #740 closed

[2016-03-17 20:21] AramZS opened #741 "Assure readability is catching references block"
See block at end of http://astro.ifweassume.com//2016/01/07/fluxcal-in-tess/

See report at https://github.com/PressForward/PF_Zenodo/issues/5

[2016-04-04 19:24] jiunchin opened #742 "Uninstall press forward"
The system generates too many pf_feed_item on my instance. What's the proper procedure for uninstalling this plugin and removing the pf_feed_item post type?

[2016-04-05 17:56] AramZS commented on #742
@jiunchin Hey Jiun! If you are up to date with the latest version of PressForward you should be able to drastically decrease the number of pf_feed_item post_types in your database by modifying the Preferences -> Site Options setting: Months to retrieve and retain feed items. Decreasing that should decrease the number of pf_feed_item post types significantly.

If that's not enough, the latest versi

[2016-04-05 20:01] jiunchin commented on #742
I'll update the plugin but will probably manually remove the post and post
meta. I just wanted to confirm it's not going to impact the site.

Thanks

On Tue, Apr 5, 2016 at 1:56 PM, Aram Zucker-Scharff <
notifications@github.com> wrote:

--
Jiun Chin

CFO Publishing
45 West 45 St
12 th floor
New York, NY 10036
ph: (212) 488-4704
fax:  (212) 459-3007

[2016-04-06 13:32] regan008 opened #743 "activating plugin triggers "fatal error""
Assuming I should be pulling the 3.9.x-recore branch, I get this error when trying to activate the plugin:

Warning: require(includes\functions.php): failed to open stream: No such file or directory in /srv/www/DHNow/htdocs/wp-content/plugins/pressforward/pressforward.php on line 28

Fatal error: require(): Failed opening required 'includes\functions.php' (include_path='.:/usr/share/php:/usr/share

[2016-04-06 17:30] AramZS opened #744 "Move PHP check earlier"

[2016-04-29 17:43] eolson3 opened #745 "Codes replacing punctuation in the reader"
Sharing an issue from email:

"You will see in the attached image, articles that I have nominated are appearing with codes in place of apostrophes, brackets, hyphens and more - but worse still - it is only happening some of the time, so I have not been able to get to the root of it.

Please see the attached and let me know your thoughts?"

Updated WP and php, all arriving via rss feeds.

Thanks, A

[2016-05-04 13:55] #743 closed

[2016-05-04 14:16] slwestcott opened #746 "Add ability to tag items/feeds in bookmarklet"
Partners would like to be able to add tags to items nominated in order to send them directly to draft without having to add the tags in nominated panel.

[2016-05-04 14:54] stakats opened #747 "Specify PF-API"
Tracking issue for overall API specification. We'll need some sample responses and the basic routes for reading/creating/editing PressForward objects. Add sub-issues here.

[2016-05-04 16:05] AramZS opened #748 "PressForward API outline"
PressForward API Architecture

*Note: Where "+" is indicated are additional API endpoints proposed to add to existing WordPress Endpoints*

*Note: "*" indicates authentication required (optional)*

([current Zotero API read requests and sample responses](https://www.zotero.org/support/dev/web_api/v3/basics), for reference)

Read

* pf/v1/item *(Item endpoint data should also be added to PF driven

[2016-05-04 16:11] stakats commented on #747
API requests and routes specified at #748

[2016-05-23 17:43] eolson3 opened #749 "Edits to bookmarklet submitted content automatically reset"
A question by way of the OSI site:

When using the bookmarklet to nominate content, a text editor is included.  If the content is sent strait to draft, any changes are present in the post.  If the content is nominated the changes are acknowledged in the reader, but the readability is automatically reset when the content is sent to draft, thus erasing the previous changes.  Is there a way to preven

[2016-05-25 13:26] slwestcott commented on #716
One of the partners is interested in this, as well - PressForward will pull in the title, etc of the youtube video but not the embed code. Would be great if we could eventually (not immediately, but soonish) make this possible.

[2016-05-31 07:17] AramZS opened #750 "Last fixes:"
Readability, Alert Box, Nominated Page, New Manual Retrieval returning Undefined.

[2016-05-31 17:10] regan008 opened #751 "Error upon activation"
The message appears at the top of the plugin page after opting to activate the plugin. However, the plugin appears to activate regardless of the message.

The message reads:

![screenshot 2016-05-31 13 08 37](https://cloud.githubusercontent.com/assets/4553057/15683553/02511c32-2731-11e6-9915-31b1b1a7c518.png)

[2016-05-31 17:13] regan008 opened #752 "Notice: get_currentuserinfo is deprecated since version 4.5! Use wp_get_current_user() instead. in /srv/www/wordpress-default/wp-includes/functions.php on line 3658"
I assume this is plugin related.

@AramZS If replacing this function is something you'd like me to tackle let me know. I'm not sure if its more complex than just replacing the function used.

[2016-05-31 17:21] AramZS commented on #752
You want to make a branch and try to patch it? It is a little bit more complex then just switching out the function, but the way to change it should be discoverable.

[2016-05-31 17:22] AramZS commented on #751
Interesting, well, glad it activates. I'll have to look into that process.

[2016-05-31 17:23] regan008 commented on #752
Sure, let me finish some testing and I'll give it a shot either today or tomorrow morning. I'll ping you if I have trouble

[2016-05-31 18:00] regan008 opened #753 "Send to Draft process not working"
The send to draft button isn't working. When I click it I get the loading bar but it just hangs. Here is the info from the log, the console, as well as details about my wp, browser, and pf versions.

Browser: Chrome
Wp Version: 4.5.2
PF: 3.9.x-recore (pulled 5/31 around 1pm)

This appears in the console when the "Send to Draft" button is clicked:
[code]

Here is what is shown in the log:
[code]

[2016-05-31 18:04] regan008 commented on #753
Also, even though the item isn't being sent to drafts when the page is refreshed the "nominate" icon has turned green. I can't tell yet if it actually is being nominated but that aspect of the button appears to be working.

[2016-05-31 18:09] regan008 opened #754 "List view broken"
The button to switch to list view in all content does not work. Clicking the button triggers the following response in the console:
[code]

[2016-05-31 18:35] regan008 opened #755 "Bookmarklet returns fatal error"
When I try to use the bookmarklet I get this error:
[code]

[2016-06-01 13:18] regan008 opened #756 "Nominate This Button Missing in All Content"
The nominate this button in the first box in All Content seems to have disappeared. I believe this happened in the last milestone when we moved the date/time. It looks like the button is actually there but just being covered up.

[2016-06-01 13:31] regan008 commented on #752
I think I've fixed this with ed6f199b363386fba020483144b7ed35c3e8f4f0.

@AramZS Do you want me to submit a pull request or wait until you are done with the recore? I think I've fixed it -- it hasn't broken anything as far as I can tell.

[2016-06-01 16:53] AramZS commented on #752
@regan008 Issue the pull request right now, we're more at the cleanup stage for the recore and this is part of that.

[2016-06-01 17:01] regan008 commented on #752
@AramZS Sounds good -- all merged. Let me know if theres anything else I should do to it.

[2016-06-01 17:02] AramZS commented on #752
@regan008 I need you to do one change on the branch though, everywhere the function is called, use it to set `$current_user = wp_get_current_user();` The old way populated a global, I don't think the new way does it quite the same, better to be purposeful then trust in the global anyway.

[2016-06-01 17:04] regan008 commented on #752
@AramZS ah gotcha -- I'll work on that this afternoon and then resubmit the pull request.

[2016-06-01 17:16] regan008 opened #758 "Nominating an item from the bookmarklet triggers errors"
Nominating an item from the bookmarklet triggers these two errors on the success page:
[code]

[2016-06-01 17:18] regan008 opened #759 "Sending an Item to Draft from the Bookmarklet triggers warnings"
Sending an Item to Draft from the Bookmarklet triggers these warnings:
[code]

[2016-06-02 15:24] regan008 commented on #753
Just realized I never assigned this to the milestone.

With the newest batch of commits it seems that Send to Draft has been fixed in most instances. The problem I'm having now is that the send to draft button (in all content) only works if the post _has not_ already been nominated. If the post is already nominated and you try to send it to draft not only does it not get sent but it also disappear

[2016-06-02 15:26] regan008 opened #760 "Menu items out of order"
The pressforward menu is out of order -- i.e "Nominated" should be second and so forth.

If this is easy to fix I'm happy to tackle it @AramZS. I think its just fixing the order in the function that creates the admin pages right?

[2016-06-02 15:27] regan008 opened #761 "In Add Feeds, "Subscribe to Feeds" should be the first tab"

[2016-06-02 15:32] regan008 opened #762 "Filtering by "My Starred," "Unread," or "Archived" in Nominated Triggers Fatal Error"
However, sort by "drafted" seems to work fine.
[code]

[2016-06-06 14:38] regan008 commented on #745
@AramZS We saw this on DHNow last week. Any chance you can take a look when you fix readability? We'll get you the urls it occurred on.

[2016-06-06 14:44] asmorton commented on #745
examples of nominated posts on digitalhumanitiesnow.org that have this issue:

http://dmlcentral.net/artificial-intelligence-cognitive-systems-learning-brain/

http://digitalhumanitiesnow.org/wp-admin/admin.php?page=pf-review#modal-cbb07daa5be97d22242e31aa326604fa

[2016-06-07 04:04] #755 closed

[2016-06-07 04:04] #754 closed

[2016-06-07 04:09] AramZS commented on #753
Yup. This should be resolved with the latest update.

[2016-06-07 04:09] AramZS commented on #752
Pull request merged in.

[2016-06-07 04:09] #752 closed

[2016-06-07 04:15] AramZS commented on #756
Should now be resolved, could not duplicate error, so you'll have to double check.

[2016-06-07 04:17] AramZS commented on #758
Should be resolved now.

[2016-06-07 04:20] AramZS commented on #759
Should be resolved.

[2016-06-07 04:34] AramZS commented on #762
Should now be resolved.

[2016-06-07 14:11] regan008 commented on #756
Ok so upon further investigation there are two interrelated issues here. (1) The button is not visible when the screen is small enough. (On my desktop it didn't show up unless I made the screen full width. Below is a screenshot. (2) We've lost the styling from the button -- it just appears as a link now. It used to have an icon and looked like a button rather than a link.

![screen shot 2016-06-07

[2016-06-07 14:12] regan008 commented on #756
However, I should note that the styling does appear in list view
![screen shot 2016-06-07 at 10 11 58 am](https://cloud.githubusercontent.com/assets/4553057/15860756/56a5f87c-2c98-11e6-9e4e-71b816919b66.png)

[2016-06-07 14:31] regan008 commented on #762
My starred no longer throws a fatal error but it isn't pulling up any starred items. Further, the archived and unread functions are still throwing a fatal error (see below).
unread error:
[code]
Archived error:
[code]

[2016-06-07 14:32] regan008 commented on #753
Confirmed, this is working now.

[2016-06-07 14:32] #753 closed

[2016-06-07 14:34] regan008 commented on #759
Confirmed, this is now working.

[2016-06-07 14:34] #759 closed

[2016-06-07 14:42] AramZS commented on #762
Hey @regan008 - I think I got this licked now. Pull down the latest and take a look.

[2016-06-07 14:50] regan008 opened #763 "Loss of subscribed feeds styling"
This isn't a huge deal but we seem to have lost the styling in Subscribed feeds. If I recall correctly, alerted feeds were displaying as red and under review as yellow. I think we could move this to 4.0.x though if its time consuming to reinstate

[2016-06-07 14:52] regan008 commented on #758
Confirmed, this is working now.

[2016-06-07 14:52] #758 closed

[2016-06-07 15:18] regan008 opened #764 "If item_author is empty, WordPress is defaulting to the first user (alphabetically) not the current user"
We're noticing this on DHNow and also on test sites. The issue is that if item_author is empty WordPress is pulling the first alphabetical user not the current user.  It doesn't seem to matter if the post was drafted from the bookmarklet or through the regular workflow. Does that make sense? We're not sure when this started but its been an annoying issue on DHNow and it took us a while to figure o

[2016-06-07 17:14] AramZS commented on #764
Huh, yeah, should be easy enough. Can you give me an exact chain of actions that leads to the occurrence.

[2016-06-07 17:16] AramZS commented on #763
I must have left that page of the qualifying page-list for our style-control. Should be easy to fix.

[2016-06-07 17:26] regan008 commented on #762
@AramZS Archived and unread work now but starred is still not working. Its not throwing an error. Its just not pulling up any items even though there are starred items in nominated.

Not sure if it helps but here is the console output:
![screenshot 2016-06-07 13 25 48](https://cloud.githubusercontent.com/assets/4553057/15867919/62b2c364-2cb3-11e6-81c0-b7c1704394a4.png)

[2016-06-08 04:21] #763 closed

[2016-06-08 04:29] AramZS commented on #762
@regan008 This seems to be confirmed happening in Nominated. Is it happening for you in All Content too?

[2016-06-08 13:25] regan008 opened #765 "OPML Subscribe not working"
I'm having trouble getting the opml subscription to work. The opml file gets added and appears in subscribed feed, but as far as I can tell it never pulls the individual feeds out and never retrieves content.

I've copied the log below.
[08-Jun-2016 13:11:23] [ PressForward\Core\AJAX\SourceAJAX->trigger_source_data ] [ PressForward\Core\Utility\Retrieval->trigger_source_data ] Invoked: PF_Feed_Ret

[2016-06-08 13:26] regan008 opened #766 "Adding OPML triggers fatal error"
Fatal error: Class 'OPML_reader' not found in /srv/www/wordpress-default/wp-content/plugins/pressforward/modules/rss-import/rss-import.php on line 453

[2016-06-08 13:28] regan008 opened #767 "In the Alerts tab under Add feeds a fatal error appears"
[code]
![screenshot 2016-06-08 09 27 13](https://cloud.githubusercontent.com/assets/4553057/15895811/3d528c32-2d5b-11e6-9ebc-c0889bbde8d6.png)

[2016-06-08 13:29] regan008 commented on #762
@AramZS Nope not in all content just in nominated

[2016-06-08 13:31] regan008 opened #768 "Adding an RSS feed triggers multiple errors"
[code]

[2016-06-08 17:20] regan008 opened #769 "User nom_count is not increasing beyond 2"
I’m working on some user management stuff and I exported a csv of all our users on dhnow and the info included about them in the meta table. The nom_count field is one of the fields that was exported but looking through the data, its odd but there aren’t any users who have more than 2 nominations. I know my count should be much higher. Here is a snipped of the csv so you can see what was pulled ou

[2016-06-08 22:35] AramZS opened #770 "Nominate This on The Daily Dot has a bad error"
http://www.dailydot.com/lifestyle/graduate-tweet-undocumented/?tw=dd
[code]

[2016-06-10 03:15] #760 closed

[2016-06-10 14:37] regan008 commented on #768
This appears to be fixed. Waiting to see if it actually pulls content.

[2016-06-10 14:37] regan008 commented on #767
Fixed

[2016-06-10 14:37] #767 closed

[2016-06-10 14:39] regan008 opened #771 "Bookmarklet appears twice in tools"
![screen shot 2016-06-10 at 10 38 58 am](https://cloud.githubusercontent.com/assets/4553057/15967904/a84e1d56-2ef7-11e6-8c86-14c676291a94.png)

[2016-06-10 14:40] regan008 opened #772 "Outbound OPML Broken"
Fatal error Reads:
[code]

[2016-06-10 14:53] regan008 commented on #765
I've encountered no problems adding feeds now but they are still not retrieving. Here is what the log says this morning:
[code]

[2016-06-10 16:23] regan008 commented on #765
Relatedly, after failing for a period of time the feed disappears entirely from subscribed feeds. This happened to both the OPML and the RSS feed I added. Neither were every retrieved and eventually disappeared

[2016-06-10 22:15] AramZS commented on #761
Fixed in df89e4254d8506115c3fdbe39e5bb75b243c804a

[2016-06-10 22:15] #761 closed

[2016-06-10 23:06] #750 closed

[2016-06-10 23:12] AramZS commented on #768
I believe this to be resolved.

[2016-06-10 23:24] AramZS commented on #766
Should be resolved.

[2016-06-10 23:24] AramZS commented on #765
Should be resolved.

[2016-06-10 23:29] #744 closed

[2016-06-13 04:25] AramZS commented on #762
Hey, can we test star filtering in all contexts? It should be resolved now.

[2016-06-13 05:07] AramZS commented on #751
This should be resolved now, try it out.

[2016-06-13 14:27] regan008 commented on #751
confirmed, this is now working.

[2016-06-13 14:39] #771 closed

[2016-06-13 14:42] regan008 commented on #772
This works now but it seems the opml file is outputting errors at the top?

[code]

[2016-06-13 14:56] regan008 opened #773 "Items nominated with bookmarklet display error in Nominated"
Underneath the title in Nominated the following notice appears:
[code]

[2016-06-13 14:58] regan008 commented on #773
Oddly, though -- this error seems to go away after a few minutes. Is it possible that it just appears while the post is being processed?

[2016-06-13 15:00] AramZS commented on #773
Could be, looking into it.

[2016-06-13 15:00] regan008 opened #774 "If nothing is hidden in All Content the filter displays everything but the breadcrumbs indicate that a filter has been applied."
When I'm in All Content and I filter to show hidden even though I have not hidden anything all the content is displayed. However the bread crumbs still say "Showing Hidden" even though its displaying all the normal content.

[2016-06-13 15:01] regan008 opened #775 "Filtering by "my drafted" in All content (as a contributor) displays content drafted by another user"

[2016-06-13 15:01] regan008 opened #776 "User options are duplicated in Tools"

[2016-06-13 15:02] AramZS commented on #774
Screen-Shot please?

[2016-06-13 15:02] #762 closed

[2016-06-13 15:05] regan008 commented on #774
![screenshot 2016-06-13 11 03 10](https://cloud.githubusercontent.com/assets/4553057/16012260/adb45c9a-3156-11e6-9c64-2098a9168464.png)

[2016-06-13 15:10] regan008 opened #777 "Nominating a feed from Nominate This triggers notice"
After nominating a feed associated with a post using Nominate This the following notice appears at the top of the success page in the bookmarklet:
[code]

[2016-06-13 15:17] #768 closed

[2016-06-13 15:17] regan008 commented on #766
Confirmed

[2016-06-13 15:17] #766 closed

[2016-06-13 15:17] regan008 commented on #756
Confirmed!

[2016-06-13 15:33] asmorton commented on #751
Installed on pftesting.chnm.org via WP upload plugin interface. Got this error when I tried to activate:

Warning: require(/websites/pftesting/www/wp-content/plugins/pressforward-3.9.x-recore/Interfaces/Templates.php): failed to open stream: No such file or directory in /websites/pftesting/www/wp-content/plugins/pressforward-3.9.x-recore/class-SplClassLoader.php on line 164 Fatal error: require():

[2016-06-13 15:41] regan008 commented on #751
Oddly though I cannot replicate the issue on my local install. I'm running php 5.5.9-1ubuntu4.11. PFtesting is running php 5.5.26

[2016-06-13 15:45] regan008 opened #778 "All action buttons have turned black"
For some reason all of the action buttons like "Save Options" or "Upload an OPML File" Have turned black but the hover color is blue.

![screenshot 2016-06-13 11 44 46](https://cloud.githubusercontent.com/assets/4553057/16013645/452b6690-315c-11e6-8e1a-846ef4568ba6.png)
![screenshot 2016-06-13 11 44 51](https://cloud.githubusercontent.com/assets/4553057/16013652/4efac7f6-315c-11e6-8adb-8f9e67fbba5

[2016-06-13 15:48] regan008 opened #779 "Log menu missing even when debug is turned on"

[2016-06-13 15:50] regan008 opened #780 "Preferences will not save changes to options"
I'm having trouble getting user control options to save. I tried to change the Nominated menu access from contributor to administrator and after I click save changes it reverts right back to contributor. It is reverting any change to these options back to the previous value.

[2016-06-13 15:51] regan008 commented on #780
In fact its doing this for any option within the Preferences page.

[2016-06-13 16:12] AramZS commented on #774
This will only occur if nothing in the system is hidden as far as I can tell. Can you confirm?

[2016-06-13 16:13] regan008 commented on #774
Yes, that was the only place I could make it occur. If you want to push to 4.0 since we've added so many new issues this morning that should be fine.

[2016-06-13 16:17] AramZS commented on #774
Going to note this as a candidate to drop to next milestone, if we clear everything else on the board but not this, I'll drop it, but I may end up finding the problem as part of fixing something else so I don't want to entirely drop it out of the milestone right now.

[2016-06-13 16:18] regan008 commented on #774
Sounds good

[2016-06-13 16:31] AramZS commented on #777
@regan008 Can you check this again and see what occurs?

[2016-06-13 16:32] AramZS commented on #777
With the latest update I mean.

[2016-06-13 16:32] AramZS commented on #773
Can you see what happens with this with the latest update?

[2016-06-13 16:39] regan008 commented on #777
This appears to be working now!

[2016-06-13 16:40] regan008 commented on #773
Still displaying a notice but a slightly different one now:
[code]

[2016-06-13 16:41] AramZS commented on #777
It is just handling the problem in a user friendly way, but not sure what is causing the problem. I would like to look more deeply into this later. Re-opening and moving to 4.x

[2016-06-14 03:34] #776 closed

[2016-06-14 04:43] #778 closed

[2016-06-14 04:48] AramZS commented on #780
I think the latest update has fixed this. Please try again.

[2016-06-14 05:59] AramZS commented on #775
Ready to test.

[2016-06-14 13:29] AramZS opened #781 "Nominate This duplication protection not working"
Articles that have already been posted can be posted again.

[2016-06-14 14:27] regan008 commented on #775
@AramZS it is still showing items that were nominated by another user.  I'm also noticing that it never populates with more than 5 items regardless of the user or user's privileges. In my admin account I've drafted at least 15 items but only 5 show up in "Show all Drafted." See screen shots.

![screenshot 2016-06-14 10 23 38](https://cloud.githubusercontent.com/assets/4553057/16046416/6a9e49f6-321

[2016-06-14 14:28] regan008 commented on #780
Yup, all fixed.

[2016-06-14 14:28] #780 closed

[2016-06-14 14:29] regan008 commented on #765
Still testing this. Just want to make sure its been completely tested but it looks good so far

[2016-06-14 14:33] regan008 opened #782 "Nominated Feeds Appear twice in "Pending Review""
It is currently possible for a feed to be added multiple times when nominated via the bookmarklet. This should not be the case correct?

![screenshot 2016-06-14 10 33 20](https://cloud.githubusercontent.com/assets/4553057/16046713/6f7d3f12-321b-11e6-83b4-3a0a32ec53b6.png)

[2016-06-14 14:34] AramZS commented on #782
#781 and this are connected issues I think.

[2016-06-14 14:39] regan008 opened #783 "Nominating a feed pulls in the site url not the feed url"
From what I can tell, when a feed is nominated with the bookmarklet it always adds the site url as the feed url. It shouldn't be doing this right? Or does it find the feed url after the feed is approved?

![screenshot 2016-06-14 10 37 47](https://cloud.githubusercontent.com/assets/4553057/16046936/23d1e24c-321c-11e6-8c1f-a180c52542c3.png)
![screenshot 2016-06-14 10 37 36](https://cloud.githubuserc

[2016-06-14 14:41] AramZS commented on #783
This is known. Our feed processor will attempt to find the feed url on first retrieval.

[2016-06-14 14:42] regan008 commented on #765
This is working!

[2016-06-14 14:42] #765 closed

[2016-06-14 15:17] regan008 commented on #783
Ahhh, ok then lets close this. @asmorton fyi.

[2016-06-14 15:17] #783 closed

[2016-06-14 16:59] AramZS commented on #782
They should no longer be auto-duplicating but the duplication protection process seems to have broken in nominations and feeds (but not drafts)

[2016-06-14 17:43] AramZS commented on #781
This is ready to test.

[2016-06-14 18:15] regan008 commented on #781
Confirmed, this is working now!

[2016-06-14 18:15] #781 closed

[2016-06-14 18:17] regan008 opened #784 "Things that are deleted are showing when filtering by unread"

[2016-06-14 18:18] regan008 commented on #784
I'm seeing this in nominated but not in All Content

[2016-06-14 20:02] asmorton commented on #756
![screen shot 2016-06-14 at 4 00 36 pm](https://cloud.githubusercontent.com/assets/3477432/16057667/20c701e0-3249-11e6-8dce-10678a1acad5.png)

button is there when browser window is full screen, but hidden as soon as window width narrows.

[2016-06-15 02:27] AramZS commented on #751
Resolved now

[2016-06-15 02:27] #751 closed

[2016-06-15 04:17] AramZS commented on #782
Should be resolved.

[2016-06-15 04:55] AramZS commented on #779
I can't duplicate this. Can you give it another try and see if it was fixed?

[2016-06-15 05:11] AramZS commented on #772
This should be resolved now.

[2016-06-15 05:56] AramZS commented on #784
This happens because deletion is a delayed process. Still shouldn't show. Problem is in functions.php line 912

[2016-06-15 14:30] regan008 commented on #782
@AramZS This appears to still be happening. See screenshot
![screen shot 2016-06-15 at 10 29 25 am](https://cloud.githubusercontent.com/assets/4553057/16083753/2cea0468-32e4-11e6-85ef-9e49686a501d.png)

[2016-06-15 14:31] AramZS commented on #782
Can you clear the old feeds before trying to resubscribe to them?

[2016-06-15 14:35] regan008 commented on #773
Seems to be fixed

[2016-06-15 14:35] #773 closed

[2016-06-15 14:36] #772 closed

[2016-06-15 14:37] regan008 commented on #779
Yeah this is working now -- I must have been looking at an old version or something.

[2016-06-15 14:37] #779 closed

[2016-06-15 15:14] regan008 commented on #782
@AramZS Just tried that but it is still happening for me.

[2016-06-15 15:35] asmorton opened #785 "Clicking on an empty folder just refreshes All Content"
Breadcrumbs are correct, but should show as empty?

![screen shot 2016-06-15 at 11 35 22 am](https://cloud.githubusercontent.com/assets/3477432/16086334/2caf2506-32ed-11e6-8c50-6b2c049a7d08.png)

[2016-06-15 16:22] AramZS commented on #782
@regan008 Any chance you could give me a clean logfile sample around this event?

[2016-06-15 17:40] regan008 commented on #782
@AramZS sure, I just created a new install so let me set up the log and replicate this problem. Stay tuned...

[2016-06-15 17:46] regan008 commented on #782
[code]

[2016-06-15 19:05] regan008 opened #786 "Create a function for generating a list of feeds"
Create a function that generates a list of feeds the site is subscribed to. It should break them down by active, alerted, and inactive. Possibly by under review too. We probably wouldn't make that outwardly visible but I can imagine scenarios where publications would.

Here is the short code function we to do this use on DHNow:
[code]

[2016-06-15 19:13] regan008 opened #787 "Adding OPML from another PressForward Install Causes large error"
When I try to import the outbound opml file from one pressforward install to another it triggers a large error. Oddly though, this only happens when I try to import another PressForward install's OPML file.

[code]

[2016-06-15 19:20] regan008 opened #788 "Invalid or failed feed triggers error upon submission"
This occurred when I intentionally added a fake feed to try and trigger an alerted feed.
[code]

[2016-06-16 08:00] AramZS commented on #784
Ready to re-test

[2016-06-16 15:00] AramZS commented on #775
Drafted is not currently user specific, though Nominated should be.

[2016-06-16 15:32] AramZS commented on #775
Limited number of posts problem now resolved.

[2016-06-16 15:38] AramZS commented on #764
This is either resolved or should be moved to 4.x

[2016-06-16 15:39] AramZS commented on #787
This is a bad feed title formatting and escaping issue, non-critical, non persistent. We'll have to escape it better, but I want to push this off to 4.x. Agree @regan008 ?

[2016-06-16 15:44] AramZS commented on #782
Can you re-check this? I think it is resolved.

[2016-06-16 15:57] asmorton commented on #784
Looks like it's fixed.

[2016-06-16 15:57] #784 closed

[2016-06-16 16:06] asmorton commented on #782
Is this issue that feeds auto-duplicate on nomination through the bookmarklet? Or that it's possible to nominate the same feed twice. If it's the former, it looks like it's fixed.

[2016-06-16 16:08] AramZS commented on #782
@asmorton both should no longer be happening. Is that the case?

[2016-06-16 16:12] regan008 commented on #782
@asmorton this should be that nominating the same feed w/ bookmarklet more than once causes it to show up multiple times in subscribed feed.

[2016-06-16 16:19] asmorton commented on #782
Okay, I can nominate and approve the same feed more than once:
![screen shot 2016-06-16 at 12 20 06 pm](https://cloud.githubusercontent.com/assets/3477432/16124349/9f3a16e2-33bc-11e6-8642-9b37a22ca94b.png)

[2016-06-16 20:45] regan008 commented on #788
This is working now, however, I'm getting two alerts when I only submitted one feed:

![screenshot 2016-06-16 16 45 14](https://cloud.githubusercontent.com/assets/4553057/16132582/bfb2791c-33e1-11e6-8faf-5c14f9322af0.png)

[2016-06-16 20:46] regan008 commented on #787
@AramZS Totally agree, lets push it off.

[2016-06-16 20:47] regan008 commented on #788
The feed is actually being added twice as well

[2016-06-16 20:49] AramZS commented on #788
Ok, so for some reason, every feed is being added twice on your install, but not mine. Can you access the php error log and check there?

[2016-06-16 20:50] regan008 commented on #782
@AramZS Its still doing it for me as well.  I'm not sure if this is related but it seems that the feed ids are incrementing in values of 3. Should that be the case? The first feed I submitted had an id of 9 and the second, which I submitted immediately following the first, had an id of 12.

[2016-06-16 20:55] regan008 commented on #764
Yeah lets move this to 4.x -- @asmorton and I will work on documenting when it happens so that I can give you an exact chain of events.

[2016-06-16 20:59] regan008 commented on #756
@AramZS So this is working on my default screen now. But once the screen gets smaller on my tiny macbook air, the button is lost again. It begins to move for me at 1244px wide.

Lets call this resolved for 3.9.x but is there anything we can do to make this work on a smaller screen? I could imagine a scenario where someone might want to work in a sort of split screen mode and encounter this problem

[2016-06-16 21:03] regan008 commented on #788
Hmmm, yes let me double check its not a weird issue on my end too. Stay tuned....

[2016-06-16 21:05] regan008 commented on #788
For whatever reason it did it for me once, and now I can't replicate it. And, of course, this is the one install I don't have a log set up on!

So lets call this resolved unless I can make it do it again. But so far no luck.

[2016-06-16 21:05] #788 closed

[2016-06-16 21:12] regan008 opened #789 "Feeds pending review are slated as "Pending Review" inside the edit page but in Quick Edit the feeds display as published"
Lets slate this for 4.0 if its ok with you @AramZS . I don't think its absolutely crucial for 3.9 just a small thing I noticed.

![screenshot 2016-06-16 17 09 39](https://cloud.githubusercontent.com/assets/4553057/16133342/5a8c6cb0-33e5-11e6-83f9-224e5e16a424.png)
![screenshot 2016-06-16 17 09 48](https://cloud.githubusercontent.com/assets/4553057/16133354/6da59574-33e5-11e6-841d-8e2f0dc1b46b.png)

[2016-06-16 21:24] regan008 commented on #775
Hmm, so the issue of limited number of posts is still occurring for me. I only see 3 now regardless of how many I draft.

[2016-06-16 22:14] asmorton commented on #775
I'm only seeing 5 on pftesting.

[2016-06-19 23:40] AramZS commented on #785
Should be resolved, is ready to test.

[2016-06-19 23:42] AramZS commented on #774
Should now be resolved.

[2016-06-20 14:31] regan008 commented on #756
@AramZS Am I understanding this commit right? The nom this "item" should be hidden completely for smaller screens? I still see it

[2016-06-20 14:31] regan008 commented on #756
But the button isn't hidden so I'd say this is good to go for 3.9

[2016-06-20 14:33] regan008 commented on #774
@AramZS -- the url now reflects that there is nothing hidden (#no-hidden) but the breadcrumbs still indicate that it is shown hidden items. We can push that small detail off till 4.0.x though if you want

[2016-06-20 14:34] #775 closed

[2016-06-20 14:35] AramZS commented on #756
Nah, just the first paragraph should be. It sounds like that's what is happening?

[2016-06-20 14:37] regan008 commented on #782
Confirmed -- This is no longer happening!

[2016-06-20 14:37] #782 closed

[2016-06-20 14:37] asmorton commented on #785
This is working now. Clicking on empty feed shows nothing in AC

[2016-06-20 14:37] #785 closed

[2016-06-20 14:38] AramZS commented on #774
"no-hidden" means nothing is hidden - > hidden content should be shown. This is the expected breadcrumb. Is it showing expected items?

[2016-06-20 14:46] regan008 commented on #774
So when I filter by hidden, and nothing is hidden, all content shows everything but the breadcrumb indicates that I am viewing hidden items. But when something is hidden its showing the correct items. I would expect that if nothing is hidden, I would see no items when filtering by hidden. Does that make sense or am I misunderstanding how this should work? Here is a screenshot:
![screen shot 2016-0

[2016-06-20 14:59] AramZS commented on #774
I believe the spec for that feature is to include hidden alongside not hidden, not to show only hidden content.

[2016-06-20 15:00] regan008 commented on #774
Ah ok that makes sense. Lets close this then

[2016-06-20 15:00] #774 closed

[2016-06-21 02:16] #756 closed

[2016-06-21 15:22] regan008 opened #792 "Nominating a feed that fails verification triggers a notice"
When I nominate a feed and post but the feed fails verification in the bookmarklet I get a notice. It reads:
```Notice: Trying to get property of non-object in /srv/www/4.3/htdocs/wp-content/plugins/pressforward/Core/Schema/Feed_Items.php on line 915```

[2016-06-29 17:45] AramZS commented on #764
Author when unidentified should be the name of the site.

[2016-07-04 14:43] AramZS commented on #732
Need to test on rss quick feed adds through OPML adds

[2016-07-04 19:41] AramZS commented on #716
Should be done with a79f70de687a569c532aa8f692756fb8d049d80a

[2016-07-05 14:24] regan008 commented on #716
This is working (very cool!)

[2016-07-05 14:24] #716 closed

[2016-07-12 01:34] AramZS commented on #317
This is basically resolved with http://chronoto.pe/2016/07/09/the-inspiring-way-hundreds-of-asian-americans-are-teaching-their-families-about-black-lives-matter-the-washington-post/

[2016-07-12 01:34] AramZS commented on #317
This is basically resolved with https://github.com/PressForward/pressforward/commit/729cd3c9b186db1414b1c1bf4b363a5f56836113

[2016-07-12 01:34] #317 closed

[2016-07-12 03:23] AramZS commented on #731
For an image to be valid in the body of the content, it must exist, have width set, and have a width of greater than 300. Test with a page with no og:data but an image that satisfies those conditions.

[2016-07-12 15:18] regan008 commented on #731
@AramZS I'm trying to test this but am having issues getting the bookmarklet to work. Nothing I nominate is being sent to under review. Not sure if it is related but I do get this message at the top of the bookmarklet:
```Deprecated: Non-static method PressForward\Controllers\PF_Readability::process_in_oembeds() should not be called statically in /srv/www/wordpress-default/wp-content/plugins/press

[2016-07-12 15:22] regan008 commented on #732
This appears to be working!

[2016-07-12 15:22] #732 closed

[2016-07-12 16:03] AramZS commented on #731
Good to know and not good that nominations are not processing through the bookmarklet I'll check on this ASAP.

[2016-07-12 19:05] regan008 commented on #745
@eolson3  @asmorton Can either of you confirm whether this is still happening?

[2016-07-13 18:02] asmorton commented on #745
I haven't noticed it in the last few weeks.

[2016-07-15 14:59] regan008 commented on #786
@AramZS I'm attempting to test this but I'm not sure if I'm doing something wrong (more than likely) or if this is a bug...but I can only get the same 3 feeds to appear when I use the shortcode for both published and alerted feeds. Here's what I see:
![screen shot 2016-07-15 at 10 57 31 am](https://cloud.githubusercontent.com/assets/4553057/16878549/f750bc4e-4a7a-11e6-8dff-f786aabf88a3.png)

And I

[2016-07-15 15:01] regan008 commented on #786
Here is a screenshot of my subscribed feeds, I actually have more that 2 alerted feeds and the fact that post politics is showing up twice is accurate -- its in there twice (but with different feed urls I think).

![screen shot 2016-07-15 at 10 59 53 am](https://cloud.githubusercontent.com/assets/4553057/16878678/765c8fcc-4a7b-11e6-997a-52d8e7d1cfd6.png)

[2016-07-17 18:35] AramZS commented on #786
Hey @regan008 This doesn't set up the shortcode or anything like that, the goal of the function is to allow it to be easily plugged in to other functions.

In your theme, to test this, you should change the theme function as follows:
[code]

[2016-07-17 18:57] AramZS commented on #777
This should now be fully resolved.

[2016-07-17 18:57] #777 closed

[2016-07-18 04:06] AramZS commented on #746
Tags now active on the Bookmarklet for the items. Also will seek OG tags to auto-fill

[2016-07-18 04:19] #770 closed

[2016-07-18 04:36] AramZS opened #794 "Assure that GUID is being set for the bookmarklet nominations/feeds."

[2016-07-18 14:31] regan008 commented on #731
@AramZS So [here is a site ](http://www.boltsfromtheblue.com/2016/7/17/12207720/san-diego-chargers-daily-links-bosa-watch-2016-continues) where the image is def above 300px and it appears to have a twitter card preview yet the bookmarklet is not brining the image in as a featured image.  It should be catching this image, correct?

[2016-07-18 14:41] regan008 commented on #746
This is working, however I am noticing that the feeds are being duplicated in the info box in Nominated. The appear correctly when they are sent to draft from the bookmarklet and they are also correct once sent to draft from Nominated.
![screen shot 2016-07-18 at 10 38 15 am](https://cloud.githubusercontent.com/assets/4553057/16918603/2251923c-4cd4-11e6-857c-bfc30107b976.png)

[2016-07-18 14:46] regan008 commented on #764
The item_author isn't appearing blank anymore, but now item_author is showing "bookmarklet" as the source rather than the name of the site.

[2016-07-18 14:50] regan008 opened #795 "Filter by Archived and My Starred broken in Nominated"
In Nominated both of the filters for Archived and My starred return a blank screen rather than items.

[2016-07-18 14:55] regan008 opened #796 "Errors in Nominated when an item is nominated from All Content"
I'm seeing this error below the title in Nominated after an item in All Content has been nominated.
[code]

[2016-07-18 14:58] regan008 opened #797 "Position of Source Statement Option is Broken"
The source is defaulting to the top of the post regardless of the setting in Preferences.
![screen shot 2016-07-18 at 10 57 05 am](https://cloud.githubusercontent.com/assets/4553057/16919129/77988a14-4cd6-11e6-84df-486f12ce9844.png)
![screen shot 2016-07-18 at 10 57 22 am](https://cloud.githubusercontent.com/assets/4553057/16919131/78c395b4-4cd6-11e6-96c7-2ddeaa5626de.png)

[2016-07-18 15:14] regan008 commented on #786
@AramZS Gotcha -- ok then yes this is working!

One question though, it doesn't appear to be displaying the child feeds for an opml subscription, just the opml title.  Whats the expected behavior? Shouldn't it probably show all the children of an opml subscription?  (There is also some funky formatting but I think that is on my end not yours.)

![screen shot 2016-07-18 at 11 12 09 am](https://clou

[2016-07-18 15:24] regan008 commented on #769
@AramZS I'm still not able to get the numbers to increase beyond 2. Here is a snapshot of the my user_meta table:
![screen shot 2016-07-18 at 11 12 09 am](https://cloud.githubusercontent.com/assets/4553057/16920028/fee2b032-4cd9-11e6-8401-9bb106efd78a.png)
Users 27 and 28 should both have way more than 2 nominations.

[2016-07-19 03:16] AramZS commented on #731
The page was blocking us, figured it out a better way to access it. Give it another try.

[2016-07-19 03:23] AramZS commented on #746
Should be resolved now.

[2016-07-19 03:30] AramZS commented on #764
@regan008 That's the intent. If there's no author and the Bookmarklet can't find the title of the site, it'll note the Bookmarklet as the author. Is that ok or would you prefer a different option?

[2016-07-19 05:10] AramZS opened #798 "Restrict meta assignment based on type"
When establishing posts.

[2016-07-19 05:15] AramZS commented on #794
Please test the whole bookmarklet process, especially check trying to use the bookmarklet as a user who is not authorized to access All Content ( which is the requirement for using Nominate This, right?).

[2016-07-19 13:51] regan008 commented on #764
@AramZS Oh, I misunderstood then. I thought we had discussed having the name of the site be the item author? Is it different for the bookmarklet?

[2016-07-19 13:53] AramZS commented on #764
@regan008 That is what is occurring, but you're witnessing a cascaded failure here so what the system is currently doing is:
Can't Find Item Author to use as author
Can't Find Site Title to use as author
Use "Bookmarklet" as author

Does that work?

[2016-07-19 13:54] regan008 commented on #794
I'm getting two errors when using the bookmarklet. The first, on the edit page above the author name and nominate/draft buttons , is:
[code]
The second appears once I've nominated the item:
[code]

[2016-07-19 14:03] AramZS commented on #794
Give it another try now, corrected some code issues.

[2016-07-19 14:04] regan008 commented on #764
Yes that is perfect, lets close this then!

[2016-07-19 14:04] #764 closed

[2016-07-19 14:37] regan008 commented on #794
Ok, still getting the error below at the top above nominate/draft:
[code]

Additionally, nominating the item is still failing but with different errors:
[code]

[2016-07-19 14:40] regan008 commented on #794
@AramZS Not sure if its related, but I'm unable to send items to Nominated from All Content right now.

[2016-07-19 14:41] AramZS commented on #794
Huh, not good. Any errors in pf log?

[2016-07-19 14:47] regan008 commented on #794
Looking through the log now, but I do see this in the console:
![screen shot 2016-07-19 at 10 46 49 am](https://cloud.githubusercontent.com/assets/4553057/16954255/33d4806c-4d9e-11e6-95ad-eb70bb91bdb1.png)

[2016-07-19 14:57] regan008 opened #799 "Items either not being sent to nominated at all or taking a very long time and triggering errors"
I see this in the console:
![screen shot 2016-07-19 at 10 46 49 am](https://cloud.githubusercontent.com/assets/4553057/16954486/063c7f64-4d9f-11e6-9328-147643e2a783.png)

If the item does end up getting sent to nominated, there are a number of errors below the title and the nominated by field in the info tab is displaying oddly.
![screen shot 2016-07-19 at 10 55 32 am](https://cloud.githubusercont

[2016-07-19 16:46] AramZS commented on #799
With the fix, I can't duplicate this. Tell me if the latest fixes this.

[2016-07-19 16:47] AramZS commented on #794
Fixed I think.

[2016-07-19 17:09] regan008 commented on #799
Yup, nominating is working now

[2016-07-19 17:10] regan008 commented on #794
Fixed!

[2016-07-19 17:10] #794 closed

[2016-07-19 17:12] regan008 opened #800 "Images appear in Nominated"
Not sure why, but I have a post that is rendering images in Nominated

The link is: https://smittenkitchen.com/2016/07/corn-bacon-and-parmesan-pasta/?utm_source=feedburner&utm_medium=feed&utm_campaign=Feed%3A+smittenkitchen+%28smitten+kitchen%29

here is what I see:
![screen shot 2016-07-19 at 1 10 27 pm](https://cloud.githubusercontent.com/assets/4553057/16959307/75954324-4db2-11e6-97b7-994bd741d

[2016-07-19 17:16] asmorton commented on #799
This isn't working on pftesting.chnm. I haven't been able to get anything into nominated, just a seemingly permanent loading bar.
![screen shot 2016-07-19 at 1 15 46 pm](https://cloud.githubusercontent.com/assets/3477432/16959407/ef0d2398-4db2-11e6-9952-4110cb54e3d0.png)

[2016-07-19 17:21] regan008 opened #801 "New York Times Articles Failing in Bookmarklet"
I'm not sure why, but I'm getting all kinds of errors when I try to nominate posts from the New York  Times. I think it might be due to the way they are formatting convention posts but this might be something to look into:

![screen shot 2016-07-19 at 1 14 43 pm](https://cloud.githubusercontent.com/assets/4553057/16959544/a115b83e-4db3-11e6-8ed9-8e28ffde6f42.png)

[2016-07-19 17:28] regan008 commented on #746
All fixed.

[2016-07-19 17:28] #746 closed

[2016-07-19 17:32] regan008 commented on #731
Confirmed -- working now.

[2016-07-19 17:32] #731 closed

[2016-07-19 17:47] regan008 commented on #745
Ok so lets close this until we see it again

[2016-07-19 17:47] #745 closed

[2016-07-23 21:45] #798 closed

[2016-07-24 01:12] regan008 commented on #801
This is still failing for me on the same [nyt article](http://www.nytimes.com/interactive/2016/07/19/opinion/campaign-stops/Republican-Convention-Day-2-Campaign-Stops.html?list_item=Populism-Without-Racism&action=click&pgtype=Homepage&clickSource=story-heading&module=opinion-c-col-left-region&region=opinion-c-col-left-region&WT.nav=opinion-c-col-left-region). There are less errors appearing but I

[2016-07-24 01:14] regan008 commented on #799
Confirmed, this is back to working!

[2016-07-24 01:14] #799 closed

[2016-07-24 01:17] regan008 commented on #797
@AramZS I'm still seeing it default to the source at the top of the post regardless of how the option is set. Should there be a commit tagged here?

[2016-07-24 01:18] regan008 commented on #796
No longer occurring!

[2016-07-24 01:25] regan008 commented on #800
Still seeing this but this time on a different blog. Here is the url: http://usreligion.blogspot.com/2016/07/sportianity-at-forty-rereading-frank.html

![screenshot 2016-07-23 21 24 07](https://cloud.githubusercontent.com/assets/4553057/17081182/ed336ab6-511b-11e6-9e1c-586a69fef257.png)

[2016-07-24 01:26] #796 closed

[2016-07-24 01:28] regan008 commented on #795
Resolved

[2016-07-24 01:28] #795 closed

[2016-07-24 01:32] regan008 commented on #769
@AramZS  So this does appear to be fixed. But when I am exporting the csv I see "5</br>".  I'm not sure if the tag is being added during the export or if its added in the plugin but I'm not sure it should be there? Will that cause issues down the road?

[2016-07-26 17:48] AramZS commented on #769
@regan008 I have to assume it is the export process. There should only be a number in there. What are you using to export?

[2016-07-26 17:52] AramZS commented on #797
@regan008 I just couldn't duplicate this problem. It happens on save. It won't change positions if you've already saved the post, is that what is being reported here?

[2016-07-26 17:59] AramZS commented on #801
This happens on nominate, after button is pressed.

[2016-07-26 18:07] regan008 commented on #800
Here is the food blog I was seeing this on: https://smittenkitchen.com/

[2016-07-26 18:08] regan008 opened #802 "Error in Nominated under Item Title"
[code]

[2016-07-26 18:11] AramZS commented on #800
`pf_prep_item_for_submit` is the problem function.

[2016-07-26 18:15] AramZS commented on #786
If OPML subscription, create subset list.

[2016-07-26 18:16] #769 closed

[2016-07-26 18:22] regan008 opened #803 "Duplication in All Content"
I'm just noticing that there is some item duplication in All Content. See the screenshots below. Would a copy of the log be useful to diagnose this @AramZS?

![screenshot 2016-07-26 14 20 28](https://cloud.githubusercontent.com/assets/4553057/17150173/69383e76-533c-11e6-99a9-288bd86d2e1a.png)
![screenshot 2016-07-26 14 20 16](https://cloud.githubusercontent.com/assets/4553057/17150174/693c425a-533

[2016-07-26 18:27] regan008 commented on #792
Still getting a notice, but its a different notice this time.
``` Notice: Undefined index: extension in /srv/www/wordpress-default/wp-content/plugins/pressforward/Core/Schema/Feed_Items.php on line 987 ```

![screenshot 2016-07-26 14 26 58](https://cloud.githubusercontent.com/assets/4553057/17150374/2599a302-533d-11e6-8351-3fea2a21099d.png)

[2016-07-26 18:28] regan008 commented on #792
Oops, didn't mean to close this.

[2016-07-26 18:53] regan008 commented on #797
@aramzs I'm still having trouble to get this to work on posts drafted or nominated from all content. The only place I can get it to work is on posts that are nominated/drafted via the bookmarklet.

[2016-08-01 14:14] regan008 commented on #727
@AramZS This can be pushed to 4.1 if you'd like.

[2016-08-01 14:23] regan008 commented on #792
This is fixed

[2016-08-01 14:23] #792 closed

[2016-08-05 01:14] #802 closed

[2016-08-05 02:26] AramZS commented on #801
I think this is fixed now.

[2016-08-05 02:29] AramZS commented on #803
Duplication posts detected at post level, but not nomination level. Unsure of Items, need to check

[2016-08-05 03:03] AramZS commented on #727
Resolves with above.

[2016-08-05 04:42] AramZS commented on #800
It will only fix nominations made from here on forward.

[2016-08-05 12:25] regan008 commented on #801
@AramZS I'm still having it happen (retested it on that same NYT article from above.) It happens once you click nominate.

[2016-08-05 12:27] #800 closed

[2016-08-05 14:11] #797 closed

[2016-08-05 14:49] regan008 opened #805 "Items Still Appear for feeds that are under review"
I have 2 feeds that are pending review but the items still appear in all content. The feed shouldn't begin retrieving until it is approved, correct?

[2016-08-05 14:53] regan008 commented on #789
This is working on every kind of feed except for alerted feeds.
![screenshot 2016-08-05 10 49 46](https://cloud.githubusercontent.com/assets/4553057/17440473/bae05d42-5afa-11e6-82f0-02eed385b325.png)
![screenshot 2016-08-05 10 49 38](https://cloud.githubusercontent.com/assets/4553057/17440474/bae2e8a0-5afa-11e6-877f-65f5a7c906d8.png)

[2016-08-05 14:58] AramZS commented on #789
@regan008 that's expected behavior, alerted feeds are still active and regularly very checked to see if they come back online. Is that ok? If not, it's a separate issue anyway and if there is nothing else we should close this and open one for the next sprint.

[2016-08-05 15:08] AramZS commented on #801
@regan008 It seems to not be happening when no category is selected. Can you confirm?

[2016-08-05 18:01] regan008 commented on #789
Hm, lets close this for now. I'm wondering if that is confusing since alerted is a status up top but we can revisit this later.

[2016-08-05 18:01] #789 closed

[2016-08-05 18:18] regan008 commented on #801
Hmm, no I am still having it happen when I select a category or when I don't

[2016-08-05 19:50] asmorton opened #806 "Oddity? Items sent to draft from All Content vs. Bookmarklet"
Bookmarklet items sent to draft appear in Nominated without the send to draft button turning green. Items send to draft from All Content do show they've been sent to draft in Nominated.

[2016-08-07 03:50] AramZS commented on #801
I think this is finally resolved. The URLs were too long for that article. Resolved by getting canonical.

[2016-08-07 17:43] AramZS commented on #806
I believe this to be resolved.

[2016-08-07 18:00] AramZS commented on #805
Should now be resolved.

[2016-08-07 19:48] #801 closed

[2016-08-07 19:51] #803 closed

[2016-08-07 19:53] regan008 commented on #727
Looks good!

[2016-08-07 19:53] #727 closed

[2016-08-07 20:09] #786 closed

[2016-08-07 20:09] regan008 commented on #805
Seems to be working!

[2016-08-07 20:09] #805 closed

[2016-08-07 22:09] AramZS opened #807 "Add PF data to WP-API post endpoint"

[2016-08-08 14:36] regan008 opened #808 "Broken Feeds in OPML Subscription continue to be added"
I’ve got an opml subscription that has a broken feed. The feed is broken but it is being duplicated in subscribed feeds for some reason. It is showing up as a red alerted feed 5 times with different dates for when it was added. For example, it says I added the feed this morning which is not true.
![screen shot 2016-08-08 at 10 34 07 am](https://cloud.githubusercontent.com/assets/4553057/17483432/f

[2016-08-08 15:32] regan008 opened #809 "Clicking on a folder in the PressForward Add Folders page, redirects you to post categories"

[2016-08-08 15:46] regan008 opened #810 "Outbound OPML Broken"
Here is what I see:
[code]

I'll add this to 4.0 but feel free to move it to 4.1  if you want.

[2016-08-09 02:12] AramZS commented on #808
Please link the OPML file

[2016-08-09 04:06] AramZS commented on #809
I'm confused. What exactly are you doing? I can't seem to duplicate this, but mby I'm not understanding the problem.

[2016-08-09 12:20] regan008 commented on #809
Sorry this is confusing. I have a screencast that I will throw in slack when I get into the office. Basically, here are the steps that are leading to this:

1. Navigate to the Folders Panel in the PressForward Menu
2. Click on a folder to go to the edit folder page (where you can change things like slug etc)

Once you click on a folder you are redirected to the post category edit page. It still wo

[2016-08-09 12:21] regan008 commented on #809
Also, it isn't a big issue and if you want to push to 4.1.x that is totally fine

[2016-08-09 15:08] regan008 commented on #808
http://www.inoreader.com/reader/subscriptions/export/user/1005688124/label/Gizmos

[2016-08-09 16:40] AramZS commented on #808
Can you check if this is fixed by the 4.0.1 branch?

[2016-08-09 16:46] regan008 commented on #808
Added it as a new feed on my laptop just now, will wait to see if it does it again

[2016-08-09 17:41] regan008 commented on #808
I'm not seeing this happen anymore.

[2016-08-09 17:41] #808 closed

[2016-08-09 18:13] AramZS opened #811 "Assure readability catches all content on pages like NYT where div structure makes that unclear"

[2016-08-10 02:44] AramZS commented on #810
This resolves the bug in production environments, but still throws errors in dev environments in certain locations. As such, I consider it done for 4.0, but needing additional work in 4.1

[2016-08-10 03:39] #810 closed

[2016-08-14 19:22] AramZS commented on #807
Post should have:

Item Date
Item Author
Item Content
Item Link
Item Feat Img
Item ID
Item Retrieved
Source Repeats
Readable Status
Content
Item Tags
Wordcount
Tags
Folders
Feed ID

[2016-08-14 19:33] AramZS commented on #807
Featured image is on `_links[wp:featuredmedia]`

[2016-08-14 19:33] AramZS commented on #807
Item content is `content`

[2016-08-14 19:34] AramZS commented on #807
Item retrieved is on `item_wp_date`

[2016-08-14 19:35] AramZS commented on #807
Item tags is on `tags`

[2016-08-14 20:00] AramZS commented on #807
I've added Wordcount to the API, but I don't know if it is something we should even store (or that it is working). @regan008 @stakats - Is there any conceivable case in which we would be sorting database results by wordcount? If not, we should eliminate it and do a word count after the post has been retrieved, dropping it as something we store in the DB.

[2016-08-14 22:01] dreamermanu opened #814 "Cannot activate plugging, reporting Parse error: Syntax Error"
Hi guys
I installed PressForward and when I tried to activate it this happened. I uninstalled and tried it again and got the same result. Any ideas as to what is happening?

Parse error: syntax error, unexpected ')', expecting :: (T_PAAMAYIM_NEKUDOTAYIM) in /home/vlistdu5/public_html/wp-content/plugins/pressforward/Libraries/PFOpenGraph.php on line 56

[2016-08-16 17:47] AramZS commented on #814
Hi @dreamermanu - we're looking through this now. It would help if you knew what version of PHP was currently on your server?

[2016-08-16 22:49] mchavezi opened #815 "pf_source_link not populating"
I am running fresh install of multisite with no plugins except PressForward. When I subscribe to a feed from a sub site in the same install, the "pf_source_link" is not populated when sending to draft.

Is this a bug or I am mis-configuring something?

Thanks,
Michael

[2016-08-18 18:20] AramZS commented on #815
@bigbassroller  Might be a bug. Is this a live site or is it possible to flip on debugging? And if it isn't can you walk me through the exact series of actions you take to send to draft?

[2016-08-18 19:34] kelle commented on #806
I'm also seeing this behavior and don't think it's been resolved...the button is not turning green for articles sent to draft via the bookmarklet.

[2016-08-19 14:26] asmorton commented on #806
@AramZS looks like this is broken again on pftesting. It was working briefly before release.

[2016-08-19 17:31] adathakkar commented on #814
I am having the same issue.

[2016-08-19 17:39] AramZS commented on #814
Hi all,

After some testing, I have determined the issue lies in our backup retrieval method with cURL. We will release a hotfix for this issue shortly.

If you would like to use this feature and turn off the problem before than, please ask whomever runs your server to install cURL for PHP.

[2016-08-21 17:08] AramZS commented on #814
Patch to fix this should be in place with https://github.com/PressForward/pressforward/commit/078bb4b8d6ec9b3b66d4c5b0992e39fb8cc56249 - I will release it shortly

[2016-08-23 02:55] AramZS opened #816 "Project MUSE RSS broken."
From: https://wordpress.org/support/topic/pressforward-does-not-load-project-muse-rss-feeds

Our Press Forward (4.0.2) on 18th-Century Common is not loading any RSS feed provided by Johns Hopkins' Project MUSE, but it's not throwing errors, either. Specifically, the 5 feeds we would like to add are below:

http://muse.jhu.edu/journals/eighteenth_century_fiction/latest_articles.xml
http://muse.jhu.

[2016-08-23 15:50] regan008 commented on #814
@AramZS Was this patch released? I'm still having the problem on our multisite.

[2016-08-23 17:18] #814 closed

[2016-08-23 18:07] #471 closed

[2016-08-23 18:10] AramZS commented on #747
Tracking this issue at #748 instead, now that API has been speced.

[2016-08-23 18:10] #747 closed

[2016-08-23 18:13] AramZS commented on #809
The navigation in the sidebar changes, not the main body of the page.

[2016-08-23 22:45] AramZS opened #817 "Fix the spelling for Model"
Like in https://github.com/PressForward/pressforward/blob/master/Core/Modals/Feed_Item.php because >.<

[2016-08-24 04:07] adathakkar opened #818 "Installing error"
I tried activating it on multisite and gave me error "header missing" I then deleted the plugin from server and tried reinstalling from wordpress and got error "cannot install" So I tried uploading the plugin via ftp and installing it, here is the error message I get.

Installing Plugin from uploaded file: pressforward.4.0.4.zip
Unpacking the package…

Installing the plugin…

The package could not

[2016-08-24 10:33] regan008 commented on #818
Can you tell us what version of Wordpress and php you are using so we can try to replicate this issue?

[2016-08-24 12:25] adathakkar commented on #818
PHP 5 this is a multisite main site is http://beautifulcity.us

[2016-08-24 14:01] regan008 commented on #818
@AramZS I'm having the same problem with pftesting. Its very odd -- it looks like the plugin is installed, and Wordpress won't let me reinstall it via the plugin directory. The install button is grayed out and it says "already installed".  However, it doesn't show up at all in the list of installed plugins

[2016-08-24 14:26] AramZS commented on #818
There was an upload error that hit some but not all WP configurations, now resolved with 4.0.5

[2016-08-24 14:29] slwestcott commented on #818
That solved the problem I was having with installation, as well.

[2016-08-24 14:29] #818 closed

[2016-08-27 14:53] AramZS opened #819 "Return cURL as a possible to the retrieval process"

[2016-08-27 15:44] #819 closed

[2016-08-27 15:46] #817 closed

[2016-08-27 20:02] AramZS opened #820 "Add basic Feeds to the WP API endpoint"

[2016-08-28 01:42] #820 closed

[2016-08-28 05:54] AramZS commented on #816
Because this feed is not standard, we are unable to parse some the aspects of these feeds.

[2016-08-29 02:39] AramZS commented on #787
Should work now, though you'll need a large OPML file to test with.

[2016-08-29 14:55] slwestcott opened #821 "Nominate This Tags"
From a partner:

I see that the Tag box is showing up on the Nominate this bookmarklet.
However, when I separate the tags by commas only the first word comes up in Wordpress as a tag.  Any way to fix this?

[2016-08-29 15:06] eolson3 commented on #821
Hmmm...seems to be working fine on the test site.

[2016-08-29 15:27] AramZS commented on #821
Can they give us an example string on which this occurs?

[2016-08-29 16:33] regan008 commented on #741
@AramZS Using the example URL you provided above, I am able to pull in some of the references but not the bulleted list below "Some Relevant Literature". Here is what I see:
![screen shot 2016-08-29 at 12 32 16 pm](https://cloud.githubusercontent.com/assets/4553057/18058959/bbcda8fc-6de4-11e6-96d5-441b05e0889e.png)
![screen shot 2016-08-29 at 12 32 11 pm](https://cloud.githubusercontent.com/assets

[2016-08-29 16:48] regan008 commented on #787
Seems to work now

[2016-08-29 16:48] #787 closed

[2016-08-29 17:03] regan008 commented on #741
@AramZS Disregard the previous comment. It would help if I updated the plugin before beginning to test things! This works now

[2016-08-29 17:03] #741 closed

[2016-08-29 17:03] regan008 commented on #816
Confirmed

[2016-08-29 17:03] #816 closed

[2016-08-29 17:09] regan008 opened #822 "Error in Nominated This"
I'm getting this error when I try to nominate a NYT article from the bookmarklet:
[code]
Possibly related to #811

[2016-08-29 17:10] regan008 commented on #811
Seems like this is working now

[2016-08-29 17:10] #811 closed

[2016-08-29 17:10] regan008 commented on #809
Fixed!

[2016-08-29 17:10] #809 closed

[2016-08-29 17:21] regan008 commented on #807
Adding @casmir72 to this issue as he will be helping me test this week.

[2016-08-29 17:38] regan008 opened #823 "Duplication in All Content"
I'm seeing duplication in All Content again.
![screen shot 2016-08-29 at 1 37 55 pm](https://cloud.githubusercontent.com/assets/4553057/18060743/d4d49ac8-6ded-11e6-8999-31e959273444.png)

[2016-08-29 17:43] AramZS commented on #823
Ok, please link the Bolt Beat rss feed?

[2016-08-29 17:46] regan008 commented on #823
http://boltbeat.com/feed/

[2016-08-29 18:07] regan008 commented on #807
@AramZS I'm am noticing that the date nominated field is not formatted the same as all the other date fields. So for example I see:
[code]

Here is the original post: https://smittenkitchen.com/2016/08/even-more-perfect-blueberry-muffins/

And here is the full response:
[code]

[2016-08-30 16:33] regan008 opened #824 "Tags are not being passed through to draft"
I'm having an issue where tags appear in the info panel of an item on both All Content and Nominated but the tags never get passed through to the drafted post.
![screen shot 2016-08-30 at 12 32 38 pm](https://cloud.githubusercontent.com/assets/4553057/18097903/edc6dab2-6ead-11e6-8ee4-4b3007d15591.png)
![screen shot 2016-08-30 at 12 32 55 pm](https://cloud.githubusercontent.com/assets/4553057/18097

[2016-08-30 16:41] regan008 commented on #807
@AramZS Other than the format of dates in some place, I am not seeing any issues with the endpoints.

[2016-08-30 17:53] AramZS opened #825 "Add wordcount across the board to all objects"
Items, Nominations and Posts should have word count on them, it should be sortable and it should re-count after readable

[2016-08-30 18:07] regan008 commented on #822
@AramZS I can't find any NYT articles that aren't triggering this error but here are some examples:
* http://www.nytimes.com/2016/08/30/opinion/cutting-ties-to-the-clinton-foundation.html
* http://www.nytimes.com/2016/08/30/well/eat/why-your-granola-is-really-a-dessert.html?contentCollection=smarter-living
* http://www.nytimes.com/2016/08/31/technology/apple-tax-eu-ireland.html
* http://www.nytime

[2016-08-31 13:53] regan008 opened #826 "Feeds not retrieving"
I'm having a new issue that I noticed yesterday afternoon and have confirmed this morning. Yesterday I deleted two feeds to try and test the duplication issue. After I deleted them I immediately re-added them. Now I cannot get them to pull any new content. My install has been up and running since yesterday and they still both have 0 posts. @AramZS Are you having any issues with this? @casmir72 can

[2016-08-31 13:55] regan008 commented on #826
@AramZS  Looking at the bottom of the log, I'm wondering if the existing posts are not getting deleted from the database, so it thinks that there isn't any new content?

[2016-08-31 16:07] casmir72 commented on #826
@AramZS the feeds are working for me. I added, removed, and re-added several feeds including Many's list and they all work. This might be an issue with Mandy's install.

[2016-08-31 16:07] #826 closed

[2016-09-01 06:41] plexus77 opened #827 "V4.0.5 source_title no longer being set"
Hi guys,

Love your plugin by the way, it has been a great help for a large news site I have built that republishes some content from other sites.

I recently updated the pressforward plugin and now when we send items to draft the source_title is no longer being set.

I have tried tracing the issue myself but have not had any luck.  Any pointers or a fix would be great.

Regards,
Morgan

[2016-09-01 15:57] devinbalkind opened #828 "66% of my Subscribed Feeds are Broken"
I've checked the validity of the RSS feeds I'm subscribed to in PressForward and yet many of the feeds are declared broken by the plugin and items won't flow through them. If I delete the feed and resubscribe it works again but then becomes "broken" a few days later.

Am I doing something wrong?  Are there techniques for ensuring feeds don't break?

[2016-09-05 16:27] AramZS commented on #828
Hi @devinbalkind - Can you give us some examples of feeds that are breaking consistently?

[2016-09-05 16:28] AramZS commented on #827
Hi @plexus77 We'll take a look at this issue.

[2016-09-05 20:18] AramZS commented on #824
Ready for testing

[2016-09-06 03:49] AramZS commented on #828
@devinbalkind  The next release should use the value more effectively, but until then I think that using the `No alerts, never let feed go inactive.` check box in any broken feeds that you are sure are working should resolve this issue.

[2016-09-06 16:11] casmir72 commented on #824
Tags are working properly.

[2016-09-06 16:11] #824 closed

[2016-09-06 18:23] casmir72 commented on #827
I am still not getting the source_title in drafts.

[2016-09-06 18:26] casmir72 commented on #823
Tested the Bolt Beat and several other feeds without any duplication issue.

[2016-09-06 18:26] #823 closed

[2016-09-06 18:35] casmir72 commented on #822
I tested several NYT articles without issue.

[2016-09-07 04:43] AramZS commented on #827
I believe this is now working in upcoming 4.1.x release @casmir72. Are you trying `pressforward('controller.metas')->get_post_pf_meta([postIDnumber], 'source_title')`?

[2016-09-07 23:03] plexus77 commented on #827
Thanks guys....

[2016-09-07 23:03] #827 closed

[2016-09-09 19:55] devinbalkind commented on #828
This resolved the issue. Thanks!

[2016-09-10 18:20] #736 closed

[2016-09-10 18:59] AramZS commented on #321
Please test the deletion and clearing of feed items, as well as their expiration.

[2016-09-10 19:00] AramZS commented on #815
I believe this is now working in upcoming 4.1.x release @casmir72. Are you trying `pressforward('controller.metas')->get_post_pf_meta([postIDnumber], 'source_title')`?

[2016-09-10 19:52] AramZS commented on #557
I actually believe this was resolved in a recent Firefox release. Please retest.

[2016-09-10 19:53] #344 closed

[2016-09-10 20:00] AramZS commented on #530
After some investigation and testing I have determined this is technically impossible to solve in a UX satisfactory way. We will solve for this issue in the next full rebuild of the UI

[2016-09-10 20:00] #530 closed

[2016-09-10 20:34] AramZS commented on #705
Opened! https://github.com/PressForward/PressForward-Readability

[2016-09-10 20:34] #705 closed

[2016-09-10 21:54] #684 closed

[2016-09-10 21:55] AramZS opened #829 "Add feed items to the pf API endpoint."

[2016-09-12 16:09] jccatalano opened #830 "Bookmarklet Nomination Posted Time Inaccurate"
Nominations using the Bookmarklet do not display the accurate "posted" time for items. One user nominated content at 9:38 am EST, but the "posted" time was 1:38 pm (in the future).
A second user nominated content at 11:53 am, but the "posted" time was 3:38 pm. It appears that the Bookmarklet is 4 hours ahead of time. Still this time is inaccurate because it does not capture when the item was origi

[2016-09-13 16:53] AramZS commented on #830
It sounds like something is not catching the server or site's current time. I will investigate.

[2016-09-19 16:56] regan008 commented on #557
@AramZS I don't think we have anyone here who has a surface anymore so I'm not sure we can test this

[2016-09-19 16:59] regan008 commented on #321
@AramZS can you elaborate on what I should be looking for in regards to expiration? Am I looking to ensure that it is deleting old items at the proper cut off date? (60 days right?)

[2016-09-19 18:00] AramZS commented on #557
@regan008 Ok. It worked on my Surface with Firefox so I'm calling this closed.

[2016-09-19 18:00] #557 closed

[2016-09-19 18:01] AramZS commented on #321
@regan008 Yup, basically it should be deleting feed items that are older than 60 days

[2016-09-19 18:30] AramZS commented on #321
Or earlier or later depending on the settings. 2 months is just the default.

[2016-09-19 19:53] regan008 opened #833 "Drafted Items with tags are generating tag id numbers as tags"
When I draft a post that has tags, the tags are passed through to the draft but it appears that it is also adding the tag ID number as a tag? At least I think that is what is happening. Here is what I see in the Edit Posts page:
![screen shot 2016-09-19 at 3 51 08 pm](https://cloud.githubusercontent.com/assets/4553057/18646779/1d88950a-7e81-11e6-94ce-ec2079606b33.png)

[2016-09-19 19:58] regan008 commented on #825
@AramZS when you say it should be sortable, what do you mean? How would I go about sorting the wordcount field in the api?

[2016-09-19 19:59] AramZS commented on #825
@regan008 There's no way to do anything with it right now, it is just how it is saved in the database. As long as it shows up in the API response we're solid on this issue.

[2016-09-19 20:05] regan008 commented on #825
This works on the Posts endpoint. Will test on the items endpoint when that is ready!

[2016-09-20 03:40] AramZS commented on #833
Basic patch, resolved for 4.1.x release.

[2016-09-20 04:08] AramZS commented on #739
@zlove Hi, this should be resolved with the latest release.

[2016-09-20 04:08] #729 closed

[2016-09-20 04:11] #709 closed

[2016-09-20 05:19] zlove commented on #739
Thanks for the update Aram! I will check it out.

On Mon, Sep 19, 2016 at 10:08 PM, Aram Zucker-Scharff <
notifications@github.com> wrote:

[2016-09-20 05:31] handythinks opened #834 "Canonical not hooking into WPMU SmartCrawl SEO plugin"
https://premium.wpmudev.org/project/smartcrawl-wordpress-seo

The way this plugin works is it assigns the current post as Canonical unless it is told otherwise. So there are conflicting canonical tags in the source of nominated items.

[2016-09-20 13:40] regan008 commented on #822
I think this can be closed

[2016-09-20 13:40] #822 closed

[2016-09-20 13:45] regan008 commented on #833
Confirmed -- this is fixed!

[2016-09-20 13:48] regan008 opened #835 "Misformatted Date in PF-API Response"
@AramZS Just wanted to add this as its own issue so it doesn't get lost because I'm noticing its still happening.

Here is an example of where I'm seeing it:
[code]

[2016-09-20 13:49] regan008 commented on #835
Related to #807

[2016-09-20 14:03] regan008 commented on #321
testing this on dev.dhnow.org to ensure it is working.

[2016-09-20 14:04] regan008 commented on #321
Wait, sorry its actually dev.digitalhumanitiesnow.org. I'll check the db tomorrow to ensure this is indeed working.

[2016-09-20 14:16] AramZS commented on #807
Hmmm. Ok, with this in mind I'm going to close this issue and push the date fix to 4.2

[2016-09-20 14:16] #807 closed

[2016-09-20 14:19] AramZS commented on #834
Hi @handythinks

We do attempt to hook and overwrite the canonical tag in a number of ways and for a number of plugins, however, since this is a premium plugin I don't have the ability to examine the code and add it's canonical statement to our set of overrides. Perhaps you can ask in the forum for the filter hook that we could use to fix this issue?

-Aram

[2016-09-20 16:09] handythinks commented on #834
*Chris Handy*Agency
<http://t.sidekickopen06.com/e1t/c/5/f18dQhb0S1KL8bGch0W2n0x6l2B9nMJN7t6js6d0GfxN1qfWCn1NJ9pf459Cfv03?t=http%3A%2F%2Fwww.thinkhandy.com%2F&si=8081245&pi=c72b31f0-7d69-4103-8a5f-8e05a2dbfcc9>
 | Podcast
<http://t.sidekickopen06.com/e1t/c/5/f18dQhb0S1KL8bGch0W2n0x6l2B9nMJN7t6js6d0GfxN1qfWCn1NJ9pf459Cfv03?t=http%3A%2F%2Fwww.togo.fm%2F&si=8081245&pi=c72b31f0-7d69-4103-8a5f-8e05a2db

[2016-09-20 16:09] handythinks commented on #834
[72160_smartcrawl-easier-faster-wordpress-seo-1.7.7.zip](https://github.com/PressForward/pressforward/files/483074/72160_smartcrawl-easier-faster-wordpress-seo-1.7.7.zip)

[2016-09-21 19:36] AramZS opened #836 "Delete option not emptying?"
This line is breaking things https://github.com/PressForward/pressforward/blob/40d459035dfab7c114027ac224d8cfa6ffd1a564/includes/functions.php#L1179

[2016-09-21 19:43] regan008 commented on #378
Test anywhere where clicking a function does one thing the first time and another the second time.

[2016-09-23 16:26] AramZS opened #837 "Generated OPML file should never have empty outline elements"

[2016-09-23 18:10] AramZS opened #838 "Allow OPML subscriptions to understand deletions"

[2016-09-23 18:15] AramZS opened #839 "Filter tax responses to make the API consistent"
Use: `apply_filters( "rest_prepare_{$this->post_type}", $response, $post, $request );`

[2016-09-23 18:16] AramZS commented on #839
See discussion at: https://github.com/WP-API/WP-API/issues/2710#issuecomment-249057708

[2016-09-26 15:30] AramZS opened #840 "Smart search folders"
5 slots alternative to folders that save search queries
- Allow someone to add a term manually via ajax
- Allow any term to be deleted
- Allow any search to be saved, dropped into an option, and graded based on number of times executed

[2016-09-26 15:31] AramZS opened #841 "Email notifications when items enter nomination"

[2016-09-26 15:35] AramZS opened #842 "Stats"

[2016-09-26 15:50] AramZS opened #843 "Add a comment via Nominate This"

[2016-09-26 15:52] AramZS opened #844 "Allow users to access an open non-auth secured and hardened endpoint to submit feeds/nominations"

[2016-09-26 16:10] AramZS commented on #698
Also lists!

[2016-09-26 18:09] AramZS opened #846 "The same feed seems to be able to be added twice"

[2016-09-27 18:38] adathakkar opened #847 "Fatal error after recent updat"
Hi,

I updated the plugin yesterday. Now when I try to login to my control panel I get the following error: Fatal error: Can't use method return value in write context in /home/cp005/public_html/wp-content/plugins/pressforward/Libraries/FiveFiltersReadability/Readability.php on line 1121

[2016-09-28 13:34] AramZS commented on #847
Issue confirmed with older versions of php (pre-5.5). You should probably update your PHP version, but we do support 5.4. A patch is coming shortly.

[2016-09-29 19:14] devinbalkind commented on #847
This took my site down as well. PHP version 5.3.29

[2016-10-02 15:21] AramZS commented on #847
Hey, this is occurs only with php 5.4 installs or lower. We've just released a patch to resolve it, but we highly recommend you update the version of PHP on your server.

[2016-10-02 15:22] #847 closed

[2016-10-03 14:21] AramZS opened #849 "Bookmarklet no longer grabbing tags"
As far as  can tell.

[2016-10-04 18:25] eolson3 opened #850 "Fatal Errors causing sites to crash"
PFSample throws the following error:
Fatal error: Can't use method return value in write context in /websites/pfsample/www/wp-content/plugins/pressforward/Libraries/FiveFiltersReadability/Readability.php on line 1121

Partner site, OSI, was throwing the following error until PF files deleted:
Fatal error: Can't use function return value in write context in /home/content/77/7391577/html/osi/wp-cont

[2016-10-04 18:28] AramZS commented on #850
@eolson3 The first error was resolved with the release of 4.1.1

[2016-10-04 18:33] eolson3 commented on #850
Just tried updating pfsandbox to 4.1.1.  It is throwing the second error, but I can at least access the site.

[2016-10-05 18:46] eolson3 opened #851 "Bookmarklet; some content throws fatal error"
Bookmarklet grabs most things fine, but others are throwing the following error:

Fatal error: Call to undefined function PressForward\Controllers\attempt_to_get_cookiepath() in /home/content/77/7391577/html/osi/wp-content/plugins/pressforward-master/Controllers/HTTPTools.php on line 187

Replicated on pfsample.  [This is an example site](http://www.oclc.org/research/publications/library/2014/oclc

[2016-10-06 14:07] #851 closed

[2016-10-07 03:53] AramZS opened #852 "Fix About links in PF post types"
See:
[code]

[2016-10-07 03:56] AramZS opened #853 "Fix about links in Taxonomies"
[code]

[2016-10-07 04:35] AramZS opened #854 "Fix post_type link in tax API response."
[code]

[2016-10-07 04:36] #854 closed

[2016-10-07 04:40] #839 closed

[2016-10-07 04:41] AramZS commented on #829
This is now complete. We have all non-hidden endpoints on the public API under the `pf/v1` endpoint. Ready to test.

[2016-10-08 21:21] #853 closed

[2016-10-09 14:30] #849 closed

[2016-10-09 14:30] AramZS commented on #849
This is not happening

[2016-10-09 14:31] AramZS commented on #852
Fixed.

[2016-10-09 14:31] #852 closed

[2016-10-11 18:10] #378 closed

[2016-10-11 18:17] #828 closed

[2016-10-12 04:53] AramZS commented on #835
This should now be resolved with any new items going forward, but won't apply retroactively.

[2016-10-12 05:43] AramZS commented on #846
If this was happening I don't think it is any longer. Can you double check?

[2016-10-12 15:35] regan008 commented on #846
Confirmed I don't see this happening.

[2016-10-12 15:35] #846 closed

[2016-10-12 16:03] regan008 commented on #825
I can confirm that this is working on items and posts now. Should I now be able to sort by wordcount on the items endpoint @AramZS? If so, what would the syntax for that be?

[2016-10-12 16:08] regan008 commented on #554
@AramZS I cannot get the info button to work at all now in full screen. It won't generate a pop up at all in both chrome and firefox.

[2016-10-12 16:54] regan008 commented on #321
Ok, I believe this is working

[2016-10-12 16:54] #321 closed

[2016-10-12 16:59] regan008 commented on #833
@AramZS This is happening again in 4.2.x

[2016-10-12 17:00] regan008 commented on #833
![screen shot 2016-10-12 at 12 59 42 pm](https://cloud.githubusercontent.com/assets/4553057/19319654/cc4d5c0e-907b-11e6-97a4-ea1f9966ef6c.png)

[2016-10-12 17:02] regan008 commented on #835
I'm still seeing this on my local install. I'm noticing it on the posts endpoint on date and date_gmt.
![screen shot 2016-10-12 at 1 01 33 pm](https://cloud.githubusercontent.com/assets/4553057/19319719/26ee3c00-907c-11e6-94db-685a428efc54.png)

[2016-10-12 17:40] jccatalano commented on #829
Should inactive feeds appear on the endpoint?

[2016-10-12 17:54] regan008 commented on #829
@AramZS I've been playing with this all morning and I see no issues. My only question would be -- is there a way to view the items associated with a particular feed? We tried to filter by feed in the feed_items endpoint (?feed=feedid) but that didn't work. Is this not something that is available? Or are we doing it the wrong way?

[2016-10-12 18:06] jccatalano commented on #829
1. If you add a new folder does the folder appear?  (YES)
* Are the correct number of feeds appearing in the feed? (YES)
* add a new feed to the folder does the feed appear in the endpoint? (YES)

2. If you add a new feed, does the feed appear on the feeds endpoint? (YES)
* Is the metadata correct? (YES, custom field metadata matches endpoint)
* Does the time retrieved populate correctly? (YES)
*

[2016-10-12 20:44] AramZS commented on #836
@regan008 Please retest this and also the whole feed deletion process, as I had to make some significant modifications to it

[2016-10-17 14:24] regan008 commented on #829
@AramZS I have found no issues with this, so I am going to go ahead and close this issue.

[2016-10-17 14:24] #829 closed

[2016-10-18 14:58] regan008 commented on #836
@AramZS I have this on my local install (the latest version since yesterday morning) and it has not begun deleting old posts. I still have feed items in the database from June, so I think this isn't working? I'm going to update one of our test sites too so we can test it there. I'll put it on dev.digitalhumanitiesnow.org so we can test it with a large number of old feed items.

[2016-10-18 15:03] regan008 commented on #836
For reference, I've installed 4.2 on dev.digitalhumanitiesnow.org and currently there are 9589 total feed items in the database with the earliest item being from 9-11-2015. Will check tomorrow to see if the delete process is working at all

[2016-10-18 17:10] AramZS commented on #850
Hi, this should be resolved with 4.1.2, yes?

[2016-10-18 17:19] AramZS commented on #833
Are you absolutely sure the server is running the latest version? I'm just not sure how this could have been fixed and then unfixed.

[2016-10-18 17:20] AramZS commented on #554
I'm dropping fixing this to 4.3 then, as dealing with the full-screen interactions is complex and I'd rather not have it delay the release.

[2016-10-18 17:25] eolson3 commented on #850
I actually can't access the site from off-campus, but I will check on Thursday.

[2016-10-18 17:49] AramZS commented on #836
Try pulling down the latest update and see if that helps at all? It needs you to hit the admin side, signed in, in order to start the process.

[2016-10-18 17:50] AramZS commented on #835
Those fields are WordPress generated, so we do not have control over them, this issue passes.

[2016-10-18 18:00] #835 closed

[2016-10-18 18:02] #825 closed

[2016-10-19 15:33] regan008 commented on #833
@AramZS Ok yes, you are right. This must have been left over on my local install at work. I will scrap that and start fresh next week. This is resolved.

[2016-10-19 15:33] #833 closed

[2016-10-20 14:11] regan008 opened #856 "Catchable fatal error: Object of class WP_Tax_Query could not be converted to string"
Roberto found this "fatal error" in the log on the server where pfsample is. He told me it came from the cron job we set up for that site.

[code]

[2016-10-20 14:17] regan008 commented on #836
@AramZS just an update. I installed this yesterday on both pfsample and dev.digitalhumanities.org.  I'm still unsure if it is working or not. Here is the log from pfsample:
[code]

[2016-10-21 23:13] devinbalkind opened #857 "Nominate This gives 404 Error"
The popup appears like this:
![screenshot 2016-10-21 at 19 10 14](https://cloud.githubusercontent.com/assets/444311/19614321/05ab1084-97c2-11e6-88a0-93ce00490c20.png)

The URL of that popup is:
https://resiliencecolab.org/wp-content/plugins/pressforward/includes/nomthis/nominate-this.php?u=https%3A%2F%2Fgithub.com%2FPressForward%2Fpressforward%2Fissues%2Fnew&t=New%20Issue%20%C2%B7%20PressForward%2

[2016-10-23 19:29] eolson3 commented on #857
Hi, David,

Most likely you've used a bookmarklet from another site or one from a previous version of PressForward.  Can you try adding the bookmarklet again and starting from there?

Eric

[2016-10-24 05:27] devinbalkind commented on #857
I tried again. Same error.

URL:
https://resiliencecolab.org/wp-content/plugins/pressforward/includes/nomthis/nominate-this.php?u=https%3A%2F%2Fsahanafoundation.org%2Fabout%2F&t=About%20%E2%80%93%20Sahana%20Foundation&s=&v=4

Code:
javascript:var d=document,w=window,e=w.getSelection,k=d.getSelection,x=d.selection,s=(e?e():(k)?k():(x?x.createRange().text:0)),f='https://resiliencecolab.org/wp-conten

[2016-10-25 18:00] AramZS opened #858 "Optimize folder query for nominations"

[2016-10-26 11:25] 3skr0 commented on #826
having the same issue..

`[26-Oct-2016 11:26:11] [ PressForward\Core\Utility\Retrieval->ajax_update_feed_handler ] Starting ajax_update_feed_handler with ID of 358
[26-Oct-2016 11:26:11] [ PressForward\Core\Utility\Retrieval->ajax_update_feed_handler ] WP_Post Object
(
    [ID] => 358
    [post_author] => 1
    [post_date] => 2016-10-25 23:41:09
    [post_date_gmt] => 2016-10-25 22:41:09
    [post

[2016-10-27 18:37] boonebgorges opened #859 "register_rest_field() only available on WP 4.7 or with WP-API"
In version 4.1.2, `APIWithMetaEndpoints::register_rest_post_read_field()` calls `register_rest_field()`. The latter function is from the WP-API plugin. When WP-API is not available, a fatal error is thrown.

Is WP-API a requirement for PressForward? I couldn't find it in the documentation anywhere.

[2016-10-27 20:44] AramZS opened #860 "Fatal error: Cannot use object of type WP_Error as array in /home/arazuc/chronoto.pe/wp-content/plugins/pressforward/Core/Utility/Forward_Tools.php on line 329"

[2016-10-27 20:48] AramZS commented on #859
@boonebgorges Hi, all the calls are tucked away inside of WP-API action hooks, if the action hooks are not called that function should never be called. You're seeing the system throwing this error?

[2016-10-27 22:05] boonebgorges commented on #859
Yes, and it's happening on a Jetpack admin page. So I wonder whether
Jetpack is triggering an API endpoint. Can you give me a quick rundown
of the stack trace leading up to the call, so I can cross-reference?

On 10/27/2016 03:48 PM, Aram Zucker-Scharff wrote:

[2016-10-31 15:40] regan008 opened #861 "Error on Pfsample: Allowed Memory Size Exhausted"
Roberto said this was triggered in the server logs on Oct 30th.

```Fatal error: Allowed memory size of 134217728 bytes exhausted (tried to allocate 2593758 bytes) in /websites/pfsample/www/wp-includes/functions.php on line 443```

@AramZS Do you think this is related to the delete function?

[2016-10-31 22:29] AramZS commented on #859
@boonebgorges Ok, here's how they get called in our current active release:

Core/API/APIWithMetaEndpoints is an extendable class, it is extended by both
 - https://github.com/PressForward/pressforward/blob/master/Core/API/PostExtension.php
 - https://github.com/PressForward/pressforward/blob/master/Core/API/FeedEndpoint.php

Both of which add the function `register_rest_post_read_meta_fields` to

[2016-11-01 14:13] regan008 commented on #857
@eolson3 I'm assigning this to @AramZS  instead. I'm not at all sure how to go about diagnosing the issue

[2016-11-01 14:24] regan008 opened #862 "Test 4.2 with WP3.8 and higher"
Create a new site using `vv create` from within your vagrant directory. Be sure to turn debug on and add the sample content.
- [x] v3.8
- [x] v3.9
- [x] v4.0
- [x] v4.1
- [x] v4.2
- [x] v4.3
- [x] v4.4
- [x] v4.5
- [x] Trunk Version (4.7?)

[2016-11-01 14:37] regan008 commented on #862
All looks good on 4.5

[2016-11-01 14:53] boonebgorges commented on #859
Thanks for the detailed outline, @AramZS.

The 'rest_api_init' action was introduced in WP 4.4 along with the API infrastructure. I don't believe it's a reliable way to determine whether the core endpoints (and `register_rest_field()`) are available.

If I'm understanding correctly, `register_rest_post_read_field()` is modifying the values returned by `wp-json/wp/v2/posts`. In other words, you are

[2016-11-01 15:02] regan008 opened #863 "Archived items are disappearing"
When I archive a nominated item and then try to filter by only archived, I see no items. I'm seeing this on 4.4 but will confirm on other versions.

[2016-11-01 15:10] regan008 commented on #863
Yeah this is happening in all wp versions.

[2016-11-01 15:14] AramZS commented on #863
Do we know if the query showing them is broken or if they're actually disappearing from the database?

[2016-11-01 15:22] regan008 commented on #863
Good question, how would I test that?

[2016-11-01 15:38] regan008 opened #864 "Admin Dashboard Breaks with Trunk Version"
@AramZS I'm trying to test the latest trunk build (4.7?) and am having issues. When the plugin isn't activated I have no problem accessing the dashboard but as soon as I activate it , I then can't get back to the WP dashboard. I get a http 500 error (see screenshot). The log doesn't really show anything. Is there some better way to diagnose what is going on? Here is the screen I get:

![screenshot

[2016-11-01 15:39] AramZS commented on #864
Any PHP errors?

[2016-11-01 15:39] regan008 commented on #864
Not that I see, but I can't access the dashboard. Is there another area I might be able to find those?

[2016-11-01 15:55] AramZS commented on #859
@boonebgorges That is indeed what is happening in one of those cases. Ok, good to know. I will add that check to our api loading process.

[2016-11-01 16:05] AramZS opened #865 "May have new way to init REST classes now"
https://github.com/WP-API/WP-API/pull/2810

[2016-11-01 16:06] AramZS commented on #859
@boonebgorges Give the new version a try, should have resolved this issue by only setting up the API pieces without the post endpoint when the post endpoint is not available.

[2016-11-01 16:52] regan008 commented on #862
@jccatalano I only got through 4.4, 4.5, and troubleshooting 4.7 this morning. Go ahead and check off whatever you get through on here

[2016-11-01 19:28] regan008 opened #866 "Error with Accessing API from trunk version of WP"
[code]

[2016-11-01 19:46] #856 closed

[2016-11-01 19:46] #836 closed

[2016-11-01 19:48] AramZS commented on #861
This is `maybe_serialize`

[2016-11-01 19:50] AramZS commented on #861
Mby related to hanging on Add New Post

[2016-11-01 19:59] AramZS commented on #861
Not sure if related, but `posted_submitbox_pf_actions` should fire in an alternate way when post is a New Post.

[2016-11-01 20:07] #864 closed

[2016-11-01 20:14] regan008 commented on #863
@AramZS Hold off on spending too much time on this, it is working now on my trunk install. Let me finish testing the other versions and figure out if this is version specific or something weird with my work computer

[2016-11-01 20:14] regan008 commented on #863
It worked both in the db and on the UI in the 4.7 trunk build

[2016-11-02 01:45] boonebgorges commented on #859
Thank you, @AramZS! This seems to do the trick.

[2016-11-07 15:34] regan008 commented on #863
We haven't been able to replicate this so I'm going to close this. Must have been a fluke with my install.

[2016-11-07 15:34] #863 closed

[2016-11-07 15:56] regan008 opened #867 "Errors in php log on WP 4.4"
If I am reading the WP-API documentation correctly, the wp-api should work on WP 4.4 and up. I'm not able to access the api at all on my 4.4 install. Here is the the php log:

[code]

[2016-11-07 15:59] regan008 commented on #867
This appears to happen on 4.4 whether pf is installed or not so I'm not sure this is an issue with PF

[2016-11-07 17:34] regan008 commented on #867
The same issue is occurring in WP 4.5 but not on 4.6 (which is why we're just finding this).

[2016-11-07 17:39] jccatalano commented on #862
WP versions 3.8 - 4.3 look good. They are still installed on my machine if further testing is needed.

[2016-11-07 17:40] regan008 commented on #862
I have problems accessing the api on 4.4 and 4.5 regardless of whether PF is installed. And on 4.6 _only_ when pressforward is installed.

[2016-11-07 18:08] slwestcott opened #868 "Nomination Count Not Increasing Via Bookmarklet"
One of our partners, running the most recent version of PF, reports the that the nomination count is not increasing on items that come in through the bookmarklet. The name of the person who has nominated the item changes, but the nomination count never gets above one.

[2016-11-07 18:44] eolson3 commented on #868
Duplicated on pfsample.

[2016-11-12 22:56] AramZS commented on #860
Happens on the URL at: https://www.buzzfeed.com/nitashatiku/trump-supporting-startup-ceo-kicked-out-of-y-combinator?utm_term=.qqmjLoQWA#.jg2bzkXy4

[2016-11-16 16:05] AramZS opened #869 "Speed up redirect"
[code]

[2016-11-22 14:26] AramZS commented on #866
Check, should now be resolved on 4.2.x

[2016-11-22 14:27] AramZS commented on #867
Test, should now be resolved in 4.2. Not sure what happened with when PF isn't installed tho... mby another plugin making the same mistake as we are?

[2016-11-22 15:06] #859 closed

[2016-11-22 15:08] AramZS commented on #857
Hi @devinbalkind Can you tell me what the install folder of your WordPress site is in your server?

[2016-11-23 18:47] devinbalkind commented on #857
Hi. It started working. I don't know why. You can close this.

[2016-11-23 20:09] #857 closed

[2016-11-29 14:56] regan008 commented on #850
@eolson3 have you checked to see if this can be closed?

[2016-11-29 15:42] #850 closed

[2016-11-29 15:44] regan008 commented on #866
Resolved

[2016-11-29 15:44] #866 closed

[2016-11-29 15:46] regan008 commented on #861
@AramZS I updated this morning and am still having this issue when adding a new post. It hangs and doesn't want to load the remainder of the page

[2016-11-29 15:48] regan008 commented on #861
I see this in my console, but I'm not positive this is related to the issue
![screenshot 2016-11-29 10 47 25](https://cloud.githubusercontent.com/assets/4553057/20716764/4da20f32-b621-11e6-8b7a-a32b1de28855.png)

[2016-11-29 15:53] regan008 commented on #862
Note to self, the API requires 4.4 and up

[2016-11-29 15:55] regan008 commented on #860
Confirmed this is working now

[2016-11-29 15:55] #860 closed

[2016-11-29 16:17] regan008 commented on #867
Yeah I'm still having this happen (on wp 4.5 this time) although it is a slightly different message this time:
[code]

I don't have any other plugins installed and this happens whether or not pf is installed. Could this be an wp api issue and not a pf api issue? The wp-api website does say that it supports back to 4.4 though

[2016-11-30 18:16] jessicasteeleapcela opened #871 "Nominate this - HTTP ERROR 500"
Using Chrome, when I use the "nominate this" tool - I receive this error:
The www.apcela.com page isn’t working

www.apcela.com is currently unable to handle this request.
HTTP ERROR 500

(Apcela.com is our website with the Press Forward  plugin installed).

Using Firefox, the nominate this tool just opens a blank page that never loads...

[2016-11-30 22:53] slwestcott opened #872 "PressForward/Jetpack Conflict"
From one of our partners:

We have had a conflict btw PressForward (latest) and Jetpack (latest) for several months now. Since I’m getting back to our ds.lclark.edu/envx/ site in preparation for next semester, I looked into this a bit, and found this similar thread:

https://wordpress.org/support/topic/php-fatal-error-91/

This may be our problem as well: in brief, with PF activated (which we of c

[2016-12-05 15:34] regan008 commented on #872
Confirmed, this is def an issue. Jetpack isn't installed by default so we never caught this. @AramZS What milestone do you want to address this in?

[2016-12-05 15:37] slwestcott commented on #872
(sooner better than later - we need to be able to show Sloan that our partners are publishing)

[2016-12-05 15:39] regan008 commented on #872
If its ok with @AramZS, we can add it to 4.2 since we still have a bunch of outstanding bugs in that milestone. If not 4.2, it should go in 4.3 for sure but I'm worried the timeline on that might be a little late since they need it for next semester.

[2016-12-05 15:40] slwestcott commented on #872
4.2 would be better, if it's possible, @AramZS.

[2016-12-05 16:35] AramZS commented on #871
Hi @jessicasteeleapcela

Can you tell us what version of the plugin and WordPress you are using?

-Aram

[2016-12-05 16:56] AramZS commented on #872
The patch for this is already in 4.2

[2016-12-05 16:58] AramZS commented on #867
That should be a core function as of 4.6 or provided in the rest api plugin. This issue is only showing up in the log @regan008 ?

[2016-12-05 17:47] regan008 commented on #867
@AramZS No it isn't. It shows up in the log but it also hinders me from accessing the api page at wp-json

[2016-12-06 03:15] AramZS commented on #868
Patch ready in 4.2.x

[2016-12-06 18:54] AramZS commented on #867
Did some checking. It looks like the latest version of the rest api plugin is only compatible with WP4.6 and up. As such, there's nothing we can do to fix this.

[2016-12-06 18:54] #867 closed

[2016-12-08 21:42] eolson3 opened #873 "Links posted on Facebook Redirect to the Original Source"
[From the WordPress forums](https://wordpress.org/support/topic/sharing-on-facebooktwitter/#post-8531335)

I haven't tested this out yet, but it wouldn't surprise me if this has slipped by us.  Haven't had a lot of users relying on Facebook posting.

[2016-12-08 22:01] AramZS commented on #873
This is an intentional feature. I added a reply to the user thread.

[2016-12-09 02:11] eolson3 commented on #873
Ah, gotcha.  Thanks, Aram.

[2016-12-09 02:11] #873 closed

[2016-12-11 19:01] AramZS opened #874 "Post sanitation process does not remove emoticons that prevent db entry"
Emojis in article bodies or content via Nominate This.

[2016-12-11 19:15] AramZS commented on #874
http://stackoverflow.com/questions/12807176/php-writing-a-simple-removeemoji-function

[2016-12-12 15:23] #868 closed

[2016-12-12 16:26] regan008 commented on #861
@AramZS Is this in the 4.2 release?

[2016-12-12 16:30] regan008 commented on #861
@AramZS I because we're still having the same issue (even with last night's release candidate) on pfsample

[2016-12-12 16:30] #862 closed

[2016-12-12 20:57] #683 closed

[2016-12-13 14:38] slwestcott commented on #872
From our partner:

We have now installed PressForward v. 4.2.1, and our problems with Jetpack (4.4.2) remain on WP v4.6.1 in our multisite environment. I have tried disconnecting/reconnecting to Jetpack, etc., but we still receive a white screen upon attempting to connect to any Jetpack windows on our PressForward-enabled site. So, at least in our case, the problem persists.

[2016-12-19 23:22] devinbalkind opened #877 "Entry Processes that don't stop"
Hi folks.

Today my Nominate This bookmarklet feature stopped working. It generated the appropriate window and page URL, but the process seemed to stall. I closed the window and tried a few more times. Then my website went down with a 508 error and I looked into the CPanel to see if anything was wrong and I discovered that I was maxing out my "Entry Processes". I deactivated PressForward and then

[2016-12-19 23:30] AramZS commented on #877
Thanks for the report. I'll look into this now.

[2016-12-20 00:01] AramZS commented on #877
@devinbalkind Can you try making the following change and see if that fixes anything? https://github.com/PressForward/pressforward/pull/876/commits/85c33f325aa23c1b94dcb87b130641183e2f1c19

[2016-12-21 02:05] devinbalkind commented on #877
Hmm my system calmed down and now I tried but couldn't induce Nominate This
to stall - and my Entry Processes are now at zero. I hope I didn't send you
on a wild goose chase...

Thank you for your help!!

On Mon, Dec 19, 2016 at 7:01 PM, Aram Zucker-Scharff <
notifications@github.com> wrote:

[2016-12-25 20:07] chrisaldrich opened #878 "Redirecting despite settings"
From Manual:
Seconds to redirect user to source: 0 means no redirect. PressForward makes use of canonical URLs. If you would like to redirect your readers automatically to the items aggregated by the feed reader and published to your site, this setting will determine how long to wait before redirecting. The default setting is 0 seconds. The redirect setting can be manually overridden in the Edit P

[2016-12-26 03:57] AramZS commented on #878
Thank you for this report, I'll look into it ASAP

[2017-01-02 19:03] AramZS commented on #878
This will be resolved in the upcoming patch!

[2017-01-06 07:04] AramZS opened #879 "When avoiding duplication for creating a post via Nominate This, the image can still be duplicated."

[2017-01-07 16:44] AramZS opened #880 "Sanitization bug replaces characters with `â€“`"

[2017-01-07 18:59] chrisaldrich opened #881 "Link to see nomination/draft from Bookmarklet finish screen"
UI suggestion

When using the bookmarklet to nominate/draft an article or source, it would be nice if the final page of the process in the modal would/could include direct links to open the interface to see the nomination, the draft, or the page for the RSS nominations respectively depending on the action taken.

In small(er) organizations this could help cut down on several seconds of workflow fo

[2017-01-07 19:57] AramZS opened #883 "If item_author is empty, first try the source title then a default value."
[code]
Removing this from the meta application process to streamline post saves.

[2017-01-07 20:00] AramZS commented on #881
@chrisaldrich It is possible to set the system to automatically send Nominate This posts to Draft or Publish instead of to Nomination. Does that not fit your use case?

[2017-01-07 21:44] chrisaldrich commented on #881
<a href="https://github.com/PressForward/pressforward/issues/881#issuecomment-271106379" class="u-in-reply-to"></a>That could potentially work. Is there a filter or setting for that which I'm missing?

I also just tried another Draft version a bit ago and noticed that the exact interface has the two bits I thought it was missing. Apparently they don't appear for Nominate.

![draft](https://cloud.g

[2017-01-07 23:55] mAAdhaTTah opened #884 "Constructor for `WPUpdatePHP` doesn't match library"
The version of WPUpdatePHP found in [`Libraries`](https://github.com/PressForward/pressforward/blob/master/Libraries/WPUpdatePHP.php) requires different arguments from the composer [library](https://github.com/WPupdatePHP/wp-update-php/blob/master/src/WPUpdatePhp.php#L28). If another plugin is using that library in their plugin & PF's version loads first, when they attempt to construct the object

[2017-01-09 07:19] AramZS opened #885 "PressForward is not properly detecting existing nominations where no item exists."

[2017-01-15 09:09] AramZS opened #888 "Nominated Page should not be firing oembed pulls on every item."
`PressForward\Core\Admin\PFTemplater->show_embed()`

[2017-01-23 16:43] jccatalano opened #889 "Archive Function Deleting Nominations"
There is a bug with the archive function on 4.2.x. It appears to be deleting nominations. I nominated a post via the bookmarklet and then archived it. After doing so the post vanished altogether (not even included in the archived posts).  I repeated this several times. I also sent a post to draft before archiving it; this resulted in the post existing in drafts but vanishing from nominated. This w

[2017-01-23 16:50] regan008 commented on #889
I don't think its actually deleting the nomination in the database but I think the archived filter might have gotten tweaked at somepoint

[2017-01-23 19:22] AramZS commented on #889
@regan008 may be right there. I'll look deeper into this because improving the delete functions is def something we have done in this patch. How old were the nominations?

[2017-01-23 19:29] jccatalano commented on #889
The nominations that disappeared after archiving were from today. The nominations that were archived before and did not vanish were from November 6.

[2017-01-23 21:05] chrisaldrich opened #890 "Delete in "All Contents" not working"
On the "All Content" view [/wp-admin/admin.php?page=pf-menu], clicking the "x" icon (delete) removes the article from the view, but doesn't actually remove the post from the database.

Refreshing the page later brings back all the deleted items.

[2017-01-23 21:31] chrisaldrich commented on #890
<a href="https://github.com/PressForward/pressforward/issues/890" class="u-in-reply-to"></a>Cross referencing #889 which may be related,

The items that won't delete are from feeds from mid-December (the feeds of which have since been deleted). They not only exist in the database, but their `post status` is still marked as `publish` after being "deleted".

It appears that for currently extant/live